#map {
  height: 240px;
}

.row.front {
	min-height: calc(100vh - 156px);
}

.col.main-left {
	background: $primary url(/img/img_main-bg.jpg) center center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	padding: 0;
}

.col.main-right {
	background: $sand url(/img/img_main-right-bg.jpg) center center no-repeat;
	background-size: cover;
	display: flex;
  flex-direction: column;
  padding: 0;
}

.col.main-right.front {
	.card.main-card {
		flex:3;
  	display:flex;
  	align-items: center;
  	justify-content: center;
  	.main-card-container {
  		text-align: center;
  		padding: 30px;
  	}
  	h4 {
  		font-size: 32px;
  		color: $dark;
  		font-weight: 300;
  		padding-top: 5px;
  	}
  	p {
  		font-size: 16px;
  		color: $dark;
  		font-weight: 400;
  		max-width: 460px;
  		line-height: 22px;
  	}
  	.btn {
      padding-top: 8px;
    	padding-left: 25px;
    	padding-right: 25px;
  	}
  	a.btn:hover {
  		background: $white;
  		border: 2px solid $primary;
  		color: $primary;
  	}
	}
	.card {
		border: 0 !important;
		background: transparent;
		margin: 0 !important;
		.card-header {
			background: transparent;
			text-align: center;
			border: 0;
			padding: 20px 20px 0 20px;
			margin: 0;
		}
		.card-body {
			text-align: center;
			padding: 0;
			p {
				font-size: 14px;
				line-height: 17px;
				padding: 15px;
				margin-bottom: 0;
			}
		}
		.card-footer {
			background: transparent;
			text-align: center;
			border: 0;
			padding: 0;
		}
	}
	.card-deck-container {
		position: relative;
		margin-left: 30px;
		margin-right: 30px;
		margin-bottom: 30px;
		background: $white;
		border: 1px solid $divider-light;
	}
	.card-deck {
		margin-left: 0;
		margin-right: 0;
		.card {
			padding: 30px 20px;
			border-right: 1px solid $divider-light;
			border: 2px solid transparent !important;
			box-shadow: 0 0px 0px rgba(0,0,0,0);
			transition: 0.2s ease-in-out;
			h4 {
				font-size: 24px;
				padding-top: 5px;
				font-weight: 300;
			}
			p {
				font-weight: 300;
				padding: 7px 0;
			}
			a.btn-primary {
				height: auto;
    		padding: 0;
    		border: 0;
			}
			a.btn:hover {
				background: transparent;
				color: $primary;
			}
			a.btn-primary:after {
				background: url(/img/ic_arrow-more.svg) center center no-repeat;
				display: inline-block;
				content: "";
				width: 12px;
				height: 8px;
				background-size: 12px 8px;
				margin-left: 4px;
				transition: 0.2s;
			}
			a.btn-hover {
				position: absolute;
				background: transparent;
				border: 0;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
		.card:first-child:after {
			display: block;
			position: absolute;
			content: "";
			width: 1px;
			height: calc(100% + 4px);
			right: -2px;
			top: -2px;
			background: $divider-light;
		}
		.card:hover {
			border: 2px solid $primary !important;
			box-shadow: 0 2px 8px rgba(0,0,0,0.2);
			a.btn-primary:after {
				margin-left: 8px;
			}
		}
	}
	.card-deck:last-child {
		border-top: 1px solid $divider-light;
	}
}


// GENERAL DESCRIPTION
#intro {
	background: $white;
	padding: 40px;
	max-width: 440px;
	margin: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	max-width: 90%;
	h1 {
		font-size: 24px;
		color: $dark;
		line-height: 30px;
	}
	p {
		font-size: 14px;
		line-height: 18px;
		color: $dark;
	}
	img {
		max-width: 160px;
		margin-top: 15px;
	}

}