//... --- HEADER --- ...//

nav.navbar.sticky-top {
  background: $white;

  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), inset 0 2px 0 0 $primary;
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), inset 0 2px 0 0 $primary;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), inset 0 2px 0 0 $primary;
  padding-top: 0;
  padding-bottom: 0;
  height: 56px;
}


@media (min-width: 992px) {
  nav.navbar.sticky-top {
    #navbarSupportedContent {
      position: relative;
      height: 100%;
      justify-content: flex-end;
      ul.navbar-nav {
        position: relative;
        height: 100%;
        .nav-item {
          a.nav-link {
            position: relative;
            display: block;
            height: calc(100% - 2px);
            margin-top: 2px;
            padding: 17px 20px 0;
            font-size: 15px;
            color: $dark;
            background: transparent;
            transition: 0.2s ease-in-out;
          }
          a.nav-link:hover {
            color: $primary;
          }
          a.nav-link:before {
            position: absolute;
            display: block;
            content: "";
            width: 0px;
            height: 2px;
            background: $gray;
            padding-bottom: 0;
            left: 50%;
            bottom: 0;
            opacity: 0;
            transition: 0.2s ease-in-out;
          }
          a.nav-link:hover:before {
            opacity: 1;
            width: 100%;
            left: 0;
          }
          a.nav-link.active {
            background: $sand-500;
            color: $primary;
            font-weight: 500;
          }
          a.nav-link.active:before {
            opacity: 1;
            width: 100%;
            left: 0;
            background: $primary;
          }
        }
      }
    }
  }
}



.dropdown-toggle::after {
  position: absolute;
  left: calc(50% - 8px);
  top: 40px;
  content: "";
  background: transparent;
  width: 8px;
  height: 4px;
  background-size: 8px 4px;
}

.navbar-brand {
  span {
    position: absolute;
    font-size: 14px;
    color: $dark-600;
    padding-top: 6px;
    padding-left: 7px;
  }
}


.dropdown-menu {
  border-radius: 0;
  margin-left: -40px;
  margin-top: -5px;
  border: 1px solid $divider-light;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  transition: 0.2s ease-in-out;
  a {
    font-size: 14px;
    font-weight: 500;
    color: $dark-850;
    transition: 0.2s ease-in-out;
  }
  a:hover {
    background: $sand-500;
    color: $primary;
  }
  a:active {
    background: $primary;
  }
}


.navbar-toggler {
  border: 0 solid transparent;
  outline: none !important;
}

@media (max-width: 992px) {
  .navbar-collapse.show {
    ul.navbar-nav {
      position: absolute;
      background: $white;
      height: auto;
      top: 51px;
      right: 0;
      width: 100%;
      max-width: 150px;
      border: 1px solid $divider-light;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      right: 0;
      li {
        position: relative;
        background: $white;
        text-align: left;
        a {
          padding: 5px 15px 5px 15px;
        }
        a.nav-link.active {
          background: $white !important;
          border: 0 transparent !important;
          font-weight: 500;
          color: $primary;
        }
      }
    }
  }
}



@media only screen and (max-width: 360px) {
  .navbar-brand {
    span {
      display: none;
    }
  }
}




