//... --- SIDEBAR --- ...//

.dw-sidebar {
  max-width: 320px;
	background: $sand-700;
	border-right: 0px;
	padding: 0;
	min-height: calc(100vh - 56px);
	a.nav-link {
		position: relative;
		font-size: 14px;
		line-height: 17px;
		color: $dark-850;
		padding: 0.4rem 1.5rem;
		transition: 
				padding 0.2s ease-in-out 0.15s,
				background-color 0.1s ease-in-out 0s,
				color 0.2s ease-in-out 0.15s;
	}
	nav#sidebar-nav > ul.nav > li.nav-item {
		// rammer top level li
		> a.nav-link {
			// rammer top level a
			
		}
		> ul.nav > li.nav-item {
			// rammer nestet li
			> a.nav-link {
				// rammer nestet a
				font-size: 12px;
				padding-left: 40px !important;
				padding-right: 1.5rem !important;
				color: $dark-600;
				font-weight: 500;
			}
			> a.nav-link.active {
				color: $primary;
				background: transparent;
			}
			> a.nav-link:before {
				display: none;
			}
		}
	}
	a.nav-link:hover {
		color: $primary;
		background-color: $white;
	}
	a.nav-link.active {
		background: transparent;
		color: $primary;
		padding: 0.4rem 0.7rem 0.4rem 2.3rem;
		background-color: $white;
	}
	a.nav-link:before {
		position: absolute;
		display: block;
		content: "";
		width: 8px;
		height: 12px;
		background: url(/img/ic_sidebar-arrow.svg) no-repeat;
		background-size: 100% 100%;
		top: calc(50% - 7px);
		left: -10px;
		opacity: 0;
		transition: 
				left 0.3s ease-in-out 0.15s,
				opacity 0.2s ease-in-out 0.15s,
	}
	a.nav-link.active:before {
		left: 20px;
		opacity: 1;
	}
}

.dw-sidebar-menu {
  position: sticky;
  top: 56px;
  padding: 20px 0;
  overflow-y: auto;
  max-height: calc(100vh - 56px);
}

// Fix anchor scrolling
.dw-sidebar-main h2[id]::before, .dw-sidebar-main h3[id]::before, .dw-sidebar-main h4[id]::before {
  display: block;
  height: 4rem;
  margin-top: -4rem;
  visibility: hidden;
  content: "";
}



@media only screen and (max-width: 920px)  {
	.dw-sidebar-main {
		padding-top: 142px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.dw-sidebar {
		position: fixed !important;
		display: block !important;
		background: #F5F4F1;
		left: 0;
		top: 56px;
  	width: 100%;
  	max-width: 100% !important;
  	max-height: 56px;
  	transition: 0.4s ease-in-out;
  	z-index: 99;
  	overflow: hidden !important;
  	box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  	nav.nav {
			position: relative;
			margin-top: 36px;
			border-top: 1px solid $divider-light;
			ul {
				display: block;
				padding-top: 10px !important;
				padding-bottom: 10px !important;
				position: relative;
				max-height: calc(100vh - 163px);
				overflow: scroll;
				li {
					min-width: 100% !important;
					ul {
						padding-top: 0px !important;
						padding-bottom: 0px !important;
						overflow: auto;
					}
					a {
						padding-top: 10px !important;
						padding-bottom: 10px !important;
					}
				}
			}
		}
	}
	.dw-sidebar:before {
		display: block;
		position: absolute;
		content: "Oversigt";
		font-size: 16px;
		font-weight: 500;
		color: $dark-850;
		left: 20px;
		top: 17px;
	}

	.dw-sidebar:after {
		content: "";
		display: block;
		width: 50px;
		height: 56px;
		position: absolute;
		right: 18px;
		top: 0;
		background: url(/img/ic_dropdown-arrow.svg) center center no-repeat;
		transform: scale(1.25);
		transition: 0.3s ease-in-out;
	}
	.dw-sidebar.open {
		max-height: calc(100vh - 106px) !important;
	}
	.dw-sidebar.open:after {
		transform: scale(1.25) rotate(180deg);
	}
}

@media only screen and (max-width: 920px)  {
	.dw-sidebar {
  	min-height: auto;
	}
}

