// HEADERS //

h1, h2, h3, h4, h5, h6 {
	color: $dark;
}

h1 {
	font-weight: 300;
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 10px;
}

h2 {
	font-weight: 300;
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 20px;
	margin-top: 60px !important;
	padding-top: 60px !important;
	border-top: 1px solid $divider;
}

h2:before {
	display: none !important;
}

h3 {
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 20px;
	margin-top: 60px !important;
	padding-top: 0 !important;
}

h4 {
	font-size: 20px;
	line-height: 24px;
	color: $dark-850;
	font-weight: 500;
	margin-top: 20px;
}

p.lead {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}



// P, A AND UL //

p {
	position: relative;
	max-width: 650px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 10px;
	color: $dark;
	a {
		position: relative;
		display: inline-block;
		color: $primary;
		font-weight: 400;
	}
	a:hover {
		color: $primary;
		text-decoration: none;
	}
	a:after {
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 1px;
		background-color: $primary;
		opacity: 0.2;
	}
	a:before {
		display: block;
		content: "";
		position: absolute;
		width: 0px;
		height: 2px;
		bottom: 1px;
		background-color: $primary;
		opacity: 0;
		transition: 0.2s ease-in-out;
	}
	a:hover:before {
		width: 100%;
		opacity: 1;
	}
}

.dw-sidebar-main {
	ul {
		position: relative;
		list-style-type: none;
		margin-bottom: 60px;
		padding-left: 20px;
		li {
			position: relative;
			margin-bottom: 5px;
			a {
				position: relative;
				display: inline-block;
				color: $primary;
				font-weight: 500;
				font-size: 15px;
			}
			a:hover {
				text-decoration: none;
			}
			a:after {
				display: block;
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: 1px;
				background-color: $primary;
				opacity: 0.2;
			}
			a:before {
				display: block;
				content: "";
				position: absolute;
				width: 0px;
				height: 2px;
				bottom: 1px;
				background-color: $primary;
				opacity: 0;
				transition: 0.2s ease-in-out;
			}
			a:hover:before {
				width: 100%;
				opacity: 1;
			}
		}
		li:before {
			position: absolute;
			display: block;
			content: "";
			width: 5px;
			height: 5px;
			background: $dark-600;
			left: -12px;
    	top: 9px;
		}
	}
}



// CODE //

code, kbd {
	background: $sand-500;
	border: 1px solid $divider-light;
	border-radius: 0;
	color: $primary;
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
	transition: 0.15s ease-in-out;
}

p, kbd {
	code {
		padding: 0px 3px !important;
	}
}

.card {
	background: $gray-100;
	border: 1px solid $divider-light;
	border-left: 2px solid $primary;
	border-radius: 0px;
	margin-bottom: 30px;
	code, kbd {
		border: 0px;
		background: transparent;
	}
}

.codetext {
	background: transparent;
	border: 0;
	textarea {
		background: $sand-500;
		border: 1px solid $divider-light;
		border-left: 2px solid $primary;
		padding: 30px 30px;
		line-height: 22px;
		outline: none;
		transition: 0.2s;
	}
	textarea:focus {
		border: 1px solid $divider;
		border-left: 2px solid $primary;
		background: $sand-200;
	}
}


// PRE //

pre {
	display: block;
	background: $gray-100;
	border: 1px solid $divider-light;
	border-left: 2px solid $primary;
	padding: 0.75rem 1.25rem;
	margin-top: 10px;
	margin-bottom: 20px;
	white-space: pre-wrap;
	a {
		position: relative;
		display: inline-block;
		color: $primary;
		font-weight: 500;
		font-size: 12px;
	}
	a:hover {
		color: $primary;
	}
}

ul {
	pre {
		font-size: 13px !important;
		font-weight: 400 !important;
		a {
			font-size: 13px !important;
			font-weight: 400 !important;
		}
		a:hover {
			text-decoration: underline !important;
		}
		a:before, a:after {
			display: none !important;
		}
	}
}
