//... --- VARIABLES --- ...//

$white:     #fff;

$primary:   #0097A7;

$dark:      rgba(37,37,37,1);
$dark-600:  rgba(37,37,37,0.6);

$gray:      rgba(222,222,222,1);
$gray-200:  rgba(222,222,222,0.2);

$sand:      rgba(241,240,235,1);
$sand-700:  rgba(241,240,235,0.7);
$sand-500:  rgba(241,240,235,0.5);


$font-family-sans-serif:  'Roboto', 'Helvetica Neue', 'Arial', sans-serif;

@import 'variables';
@import 'header';
@import 'sidebar';



body {
  position: relative;
  font-family: $font-family-sans-serif;
}














