{
  "root": true,
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "generators": true,
    "templateStrings": true
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-useless-escape": "off"
  }
}
