//... --- VARIABLES --- ...//
@import 'variables';

//... --- IMPORTS --- ...//
@import "bootstrap/scss/bootstrap";
@import 'typography';
@import 'header';
@import 'sidebar';
@import 'tables';
@import 'forms';
@import 'forside';
@import 'footer';
@import 'guides';
@import 'faq';
@import 'stacked-link';
@import '../css/autocomplete';



body {
  position: relative;
  font-family: $font-family-sans-serif;
}

.dw-sidebar-main {
	padding: 50px 40px;
}

.dw-sidebar-main {
	img {
		max-width: 100%;
	}
}










