extends layout
include includes/parameterDocMixins

block content
  header.jumbotron.subhead
    div.container
      h1 Adgangsadresser
      div.page-header
        p.lead Web API'et udstiller Danmarks adgangsadresser samt tilhørende funktionalitet.
    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list.affix
            li(data-toggle='collapse', data-target='#adresse').nav-header Adgangsadresse API
            ul#adresse.nav.nav-list
              li <a href='#adressesoegning'>Adgangsdressesøgning</a>
              li <a href='#adresseopslag'>Adgangsadresseopslag</a>
              li <a href='#adresseautocomplete'>Adgangsadresser autocomplete</a>
              li <a href='#reversegeokodning'>Reverse geokodning</a>
              li <a href='#adressedata'>Beskrivelse af adgangsadressedata</a>

        div.span9
          section

            h3.anchor-header#adressesoegning Adgangsadressesøgning
            +documentResource(parameterDoc, '/adgangsadresser')

            div.page-header
            h3.anchor-header#adresseopslag Adgangsadresseopslag
            +documentResource(parameterDoc, '/adgangsadresser/{id}')

            div.page-header
            h3.anchor-header#adresseautocomplete Adgangsadresser autocomplete
            +documentResource(parameterDoc, '/adgangsadresser/autocomplete')

            div.page-header
            h3.anchor-header#reversegeokodning Reverse geokodning
            +documentResource(parameterDoc, '/adgangsadresser/reverse')

            div.page-header
            h3.anchor-header#adressedata Beskrivelse af adgangsadressedata
            p Ovenstående Web API udstiller adgangsadresser. En <em>adgangsadresse</em> er en struktureret betegnelse som angiver en særskilt adgang til et areal eller en bygning efter reglerne i adressebekendtgørelsen.
            p Forskellen på en adresse og en adgangsadresse er at adressen rummer eventuel etage- og/eller dørbetegnelse. Det gør adgangsadressen ikke.
            p Web API'et udstiller for hver adgangsadresse følgende informationer:
            +documentSchema(jsonSchemas.adgangsadresse)

block append scripts
  script.
    var topbar = $('#topbar');
    topbar.find('li').removeClass('active');
    var a = topbar.find("li a[href='adgangsadressedok']")[0];
    var li = $(a).parent().addClass('active');
