extends layout
include includes/parameterDocMixins

block content
  header.jumbotron.subhead
    div.container
      h1 Adgangsadresser
      div.page-header
        p.lead Web API'et udstiller Danmarks adgangsadresser samt tilhørende funktionalitet.
    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list.affix
            li(data-toggle='collapse', data-target='#adresse').nav-header Adgangsadresse API
            ul#adresse.nav.nav-list
              li <a href='#adressesoegning'>Adgangsdressesøgning</a>
              li <a href='#adresseopslag'>Adgangsadresseopslag</a>
              li <a href='#reversegeokodning'>Reverse geokodning (stadig<br>under udvikling)</a>
              li <a href='#adressedata'>Beskrivelse af adgangsadressedata</a>
            li(data-toggle='collapse', data-target='#haendelser').nav-header Adgangsadressehændelser
            ul#haendelser.nav.nav-list
            ul#adressedatanav.nav.nav-list


        div.span9
          section
            div.page-header
            h3.anchor-header#adressesoegning Adgangsadressesøgning
            p Søg efter adresser. Returnerer de adgangsadresser som opfylder kriteriet.
            +parameterDocQuery(apiSpec.adgangsadresse, parameterDoc.adgangsadresse)

            div.page-header
            h3.anchor-header#adresseopslag Adresseopslag
            p Modtag adresse med id.
            +parameterDocGet(apiSpec.adgangsadresse, parameterDoc.adgangsadresse)

            div.page-header
            h3.anchor-header#reversegeokodning Reverse geokodning (stadig under udvikling)
            p <b>Reversegeokodning er stadig under udvikling, og kan p.t. ikke benyttes!</b>
            p Find den adresse, som ligger nærmest det angivne koordinat. Som koordinatsystem kan anvendes (ETRS89/UTM32 eller) WGS84/geografisk.
            pre GET /adgangsadresser/{x},{y}
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td x
                  td X koordinat. (Hvis ETRS89/UTM32 anvendes angives øst-værdien.) Hvis WGS84/geografisk anvendex angives bredde-værdien.
                tr
                  td y
                  td Y koordinat. (Hvis ETRS89/UTM32 anvendes angives nord-værdien.) Hvis WGS84/geografisk anvendex angives længde-værdien.
            h4 Eksempler
            p Ikke implementeret: Returner adressen nærmest punktet angivet af ETRS89/UTM32 koordinatet (6176652.55, 725369.59)
            pre
              a(href='#{url}/adgangsadresser/6176652.55,725369.59') #{url}/adgangsadresser/6176652.55,725369.59
            p Returner adgangsadressen nærmest punktet angivet af WGS84/geografisk koordinatet (12.5851471984198, 55.6832383751223)
            pre
              a(href='#{url}/adgangsadresser/55.6832383751223,12.5851471984198') #{url}/adgangsadresser/55.6832383751223,12.5851471984198

            div.page-header
            h3.anchor-header#adressedata Beskrivelse af adgangsadressedata
            p Ovenstående Web API udstiller adgangsadresser. En <em>adgangsadresse</em> er en struktureret betegnelse som angiver en særskilt adgang til et areal eller en bygning efter reglerne i adressebekendtgørelsen.
            p Forskellen på en adresse og en adgangsadresse er at adressen rummer eventuel etage- og/eller dørbetegnelse. Det gør adgangsadressen ikke.
            p Web API'et udstiller for hver adgangsadresse følgende informationer:
            +documentSchema(apiSpec.adgangsadresse.model.schema)

block append scripts
  script.
    $('#topbar li').removeClass('active');
    var a= $("#topbar li a[href='adgangsadressedok']")[0];
    var li= $(a).parent().addClass('active');
