extends layout
include includes/parameterDocMixins

block content
  header.jumbotron.subhead
    div.container
      h1 Adresser
      div.page-header
        p.lead Adresse web API'et udstiller Danmarks adresser samt tilhørende funktionalitet.

    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list.affix
            li(data-toggle='collapse', data-target='#adresse').nav-header Adresse API
            ul#adresse.nav.nav-list
              li <a href='#adressesoegning'>Adressesøgning</a>
              li <a href='#adresseopslag'>Adresseopslag</a>
              li <a href='#adresseautocomplete'>Adresser autocomplete</a>
              li <a href='#datavask'>Datavask</a>
              li <a href='#adressedata'>Beskrivelse af adressedata</a>
        div.span9
          section

            h3.anchor-header#adressesoegning Adressesøgning
            +documentResource(parameterDoc, '/adresser')

            div.page-header
            h3.anchor-header#adresseopslag Adresseopslag
            +documentResource(parameterDoc, '/adresser/{id}')

            div.page-header
            h3.anchor-header#adresseautocomplete Adresser autocomplete
            +documentResource(parameterDoc, '/adresser/autocomplete')

            div.page-header
              h3.anchor-header#datavask Datavask
            +documentResource(parameterDoc, '/datavask/adresser')

            div.page-header
            h3.anchor-header#adressedata Beskrivelse af adressedata
            p En <em>adresse</em> er en struktureret betegnelse som angiver en særskilt adgang til et areal, en bygning eller en del af en bygning efter reglerne i adressebekendtgørelsen.
            p En adresse angiver en særskilt adgang til et areal, en bygning eller en del af en bygning, efter reglerne i adressebekendtgørelsen. En adresse fastsættes for at angive en bestemt adgang til
            ul
              li et areal,  fx. en byggegrund, et grønt område eller en sportsplads
              li en bygning, herunder et andet bygværk, f.eks. et teknisk anlæg
              li en del af en bygning, fx en etage eller en bolig- eller erhvervs¬enhed i en bygning
            p Forskellen på en adresse og en adgangsadresse er at adressen rummer eventuel etage- og/eller dørbetegnelse. Det gør adgangsadressen ikke.
            p Web API'et udstiller for hver adresse følgende informationer:
            +documentSchema(jsonSchemas.adresse, 'adresse')

block append scripts
  script.
    var topbar = $('#topbar');
    topbar.find('li').removeClass('active');
    var a = topbar.find("li a[href='adressedok']")[0];
    var li = $(a).parent().addClass('active');
