extends sidebar-auto
include includes/parameterDocMixins
include includes/api-oversigt

block main
  h1 API dokumentation
  p.
    Det anbefales at læse <a href="/dok/api/generelt">generel information om DAWA API'et</a> igennem
    før DAWA API'et tages i brug.

  p.
    Nedenfor er en oversigt over samtlige ressourcer som udstilles af DAWA:
  +renderApiOversigt(docUtil.getSections())