extends layout
include includes/parameterDocMixins
block content
  header.jumbotron.subhead
    div.container
      h1 Autocomplete
      div.page-header
        p.lead Autocomplete API'et - En kombineret autocomplete funktionalitet.
    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list.affix
            li(data-toggle='collapse', data-target='#adresse').nav-header Adgangsadresse API
            ul#adresse.nav.nav-list
              li <a href='#autocomplete'>Autocomplete</a>
              li <a href='#autocompletedata'>Beskrivelse af autocomplete-svar</a>
        div.span9
          section
            p DAWA tilbyder autocomplete til indtastning af vejnavne, adgangsadresser og adresser, som det kan læses i deres respektive API beskrivelser. For at implemente en optimal indtastning af adresser med autocomplete skal de tre autocomplete funktionaliteter kombineres. Når brugeren taster de første tegn autocompletes på vejnavne. Når vejnavnet er fundet autocompletes på adgangsadresser. Når adgangsadressen er fundet autocompletes på adresser. I applikationen, som skal anvende adresseindtastning med autocomplete, kan denne logik implementeres ved at kombinere de tre autocomplete typer. 
            p En enklere og lettere måde at implementere indtastning af adresser med autocomplete er at anvende Autocomplete API’et beskrevet på denne side. Autocomplete API'et håndterer trinnene i adresse autocomplete: Først vejnavne, så adgangsadresser og endelig adresser. API'et kan anvendes i alle applikationstyper, web, mobil, desktop og server. Hvis det er en web applikation, hvori man ønsker at implementere adresse indtastning med autocomplete, kan det gøres endnu lettere - nemlig ved at anvende <a href=’http://autocomplete.aws.dk’>Autocomplete komponenten</a>, som selvfølgelig er baseret på Autocomplete API'et. 

            h3.anchor-header#autocomplete Autocomplete
            +documentResource(parameterDoc, '/autocomplete')
            div.page-header
            h3.anchor-header#autocompletedata Beskrivelse af autocomplete-svar
            +documentSchema(autocompleteSchemas.autocomplete)
block append scripts
  script.
    var topbar = $('#topbar');
    topbar.find('li').removeClass('active');
    var a = topbar.find("li a[href='autocompletedok']")[0];
    var li = $(a).parent().addClass('active');
