extends sidebar-auto
include includes/parameterDocMixins
include includes/api-oversigt

block main
  h1 BBR API
  p.lead BBR data fra DAWA må kun anvendes internt i SDFE og kun efter aftale med AWS gruppen,
  | awssuiten@sdfe.dk. Al anvendelse skal være i medfør af § 6, stk. 1, nr. 7, i persondataloven,
  | hvorefter behandlingen er nødvendig for, at den dataansvarlige eller den tredjemand, til hvem
  | oplysningerne videregives, kan forfølge en berettiget interesse og hensynet til den registrerede
  | ikke overstiger denne interesse. Link til persondataloven: https://www.retsinformation.dk/Forms/R0710.aspx?id=828

  +renderApiOversigt(docUtil.getSectionsBbrFull())