extends layout

block content
  div.container-fluid
    div.row.front
      div.col.main-left
        section#intro
          h1 Danmarks Adressers Web API
          p.
            Danmarks Adressers Web API (DAWA) udstiller data og funktionalitet vedrørende Danmarks
            adresser.
            DAWA kan anvendes til at etablere adressedata og -funktionalitet i it-systemer.
            Målgruppen for nærværende website er udviklere, som ønsker at indbygge adressedata og -funktionalitet
            i deres it-systemer. 
          p.
            Udover adresseområdet rummer DAWA også data og funktionalitet vedrørende områder, som er tæt relateret til adressen. Det drejer sig om Danmarks Administrative Geografiske Inddeling (DAGI), Matrikelkortet, Bygnings- og Boligregisteret samt Danske Stednavne.
          img(src='/img/logo_sdfe.png')
      div.col.main-right.front
          div.card.main-card
            div.main-card-container
              img(src='/img/ic_adresser.svg')
              h4.card-header Danmarks adresser
              div.card-body
                p.
                  Adresseområdet indeholder data og funktionalitet inden for adresser, adgangsadresser, veje, 
                  supplerende bynavne og postnumre.
                a.btn.btn-primary(href="/dok/adresser") Læs mere              
          
          div.card-deck-container
            div.card-deck
              div.carddiv.card
                img(src='/img/ic_dagi.svg')
                h4.card-header DAGI
                div.card-body
                  p.
                    DAGI-området udstiller data og funktionalitet vedrørende danmarks administrative geografiske inddelinger, som f.eks. kommuner, regioner, opstillingskredse, sogne, politikredse og retskredse.
                  a.btn.btn-primary(href="/dok/dagi") Læs mere                
                  a.btn.btn-hover(href="/dok/dagi")                  
              div.card
                img(src='/img/ic_matrikel.svg')
                h4.card-header Matrikelkortet
                div.card-body
                  p.
                    Det matrikulære område udstiller data og funktionalitet vedrørende ejerlav og jordstykker.
                  a.btn.btn-primary(href="/dok/matrikelkortet") Læs mere
                  a.btn.btn-hover(href="/dok/matrikelkortet")                  

            div.card-deck 
              div.carddiv.card         
                img(src='/img/ic_sted.svg')
                h4.card-header Danske Stednavne
                div.card-body
                  p.
                    Stednavneområdet udstiller data og funktionalitet vedrørende danske stednavne som f.eks. byer, bydele,
                    bygninger, øer, farvande og fortidsminder.
                  a.btn.btn-primary(href="/dok/stednavne") Læs mere
                  a.btn.btn-hover(href="/dok/stednavne")                  

              div.card
                img(src='/img/ic_bbr.svg')
                h4.card-header BBR
                div.card-body
                  p.
                    BBR-området udstiller data fra Bygnings- og boliregisteret om bygninger, enheder, tekniske anlæg, ejerskaber m.v.
                  a.btn.btn-primary(href="/dok/bbr") Læs mere
                  a.btn.btn-hover(href="/dok/bbr")                  
    div.row
      footer
        div.footer-container.offset-sm-1.col-sm-10
          div.row
            div.col-sm-3
              h5 Kontakt
              ul
                li <a href="mailto:awssuiten@sdfe.dk">awssuiten@sdfe.dk</a>
                li <a href="https://twitter.com/AWS_Suiten">Twitter</a>
                li <a href="https://digitaliser.dk/group/334445/forum">Support-forum på digitaliser</a>
            div.col-sm-3
              h5 Links
              ul
                li <a href="http://localhost:3000/dok/om#vilk-r">Vilkår</a>
                li <a href="http://stats.pingdom.com/tdobb0hqaff9/1299924">Pingdom driftsstatus</a>
            div.col-sm-3
              h5 Se også
              ul
                li <a href="http://aws.dk/">AWS Suiten</a>
                li <a href="http://korttjenester.aws.dk/">Korttjenester</a>
                li <a href="http://download.aws.dk/">download.aws.dk</a>
                li <a href="http://file.aws.dk/inspire.html">AWS3 Download (INPSPIRE)</a>
            div.col-sm-3.footer-logo
              img(src='/img/logo-footer.svg')
          

