doctype html

html(lang='da')
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="UTF-8")
    title DAWA
    meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
    meta(name="description", content="Danmarks adresse web API")
    meta(name="author", content="Finn Jordal")
    link(href="css/dawa.css", rel="stylesheet")
    link(rel="shortcut icon", href="img/favicon.ico")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/") DAWA
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse(id="navbarSupportedContent")
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/') Introduktion
          li.nav-item
            a.nav-link(href='generelt') Generelt
          li.nav-item
            a.nav-link(href='adressedok') Adresser
          li.nav-item
            a.nav-link(href='adgangsadressedok') Adgangsadresser
          li.nav-item
            a.nav-link(href='vejedok') Veje
          li.nav-item
            a.nav-link(href='postnummerdok') Postnumre
          li.nav-item
            a.nav-link(href='autocompletedok') Autocomplete
          li.nav-item
            a.nav-link(href='listerdok') Lister
          li.nav-item
            a.nav-link(href='replikeringdok') Replikering
          li.nav-item
            a.nav-link(href='om') Om

    block content

    block scripts
      script(src="js/dawa.js")

    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39392352-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
