doctype html

html(lang='da')
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="UTF-8")
    title DAWA
    meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
    meta(name="description", content="Danmarks adresse web API")
    meta(name="author", content="Finn Jordal")
    link(href="/css/dawa.css", rel="stylesheet")
    link(rel="shortcut icon", href="/img/favicon.ico")
  body
    nav.navbar.navbar-expand-lg.navbar-light.sticky-top
      a.navbar-brand(href="/") DAWA <span>-   Danmarks Adressers Web API</span>
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse(id="navbarSupportedContent")
        ul.navbar-nav
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false",
            class={active: ['/dok/adresser', '/dok/stednavne', '/dok/dagi', '/dok/bbr', '/dok/matrikelkortet'].includes(path)}).
              Data
            div.dropdown-menu(aria-labelledby="navbarDropdown")
              a.dropdown-item(href='/dok/adresser') Adresser
              a.dropdown-item(href="/dok/dagi") DAGI
              a.dropdown-item(href="/dok/matrikelkortet") Matrikelkortet
              a.dropdown-item(href="/dok/bbr") BBR
              a.dropdown-item(href="/dok/stednavne") Stednavne
          li.nav-item
            a.nav-link(href='/dok/api', class={active: path.startsWith('/dok/api')}) API
          li.nav-item
            a.nav-link(href='/dok/guides', class={active: path.startsWith('/dok/guides')}) Guides
          li.nav-item
            a.nav-link(href='/dok/faq', class={active: path === '/dok/faq'}) FAQ
          li.nav-item
            a.nav-link(href='/dok/om', class={active: path === '/dok/om'}) Om

    block content

    block scripts
      script(src="/js/dawa.js")

    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39392352-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
