section#intro
  h1 Danmarks Adressers Web API
  p.
    Danmarks Adressers Web API (DAWA) udstiller data og funktionalitet vedrørende Danmarks
    adresser.
    DAWA kan anvendes til at etablere adressedata og -funktionalitet i it-systemer.
    Målgruppen for nærværende website er udviklere, som ønsker at implementere adressedata og -funktionalitet
    i deres it-systemer.
  p.
    Udover adresseområdet rummer DAWA også data og funktionalitet vedrørende områder, som er tæt relateret til adressen. Det drejer sig om områderne Danmarks Administrative Geografiske Inddeling (DAGI), Matrikelkortet, Bygnings- og Boligregisteret samt Danske Stednavne.
  img(src='/img/logo_sdfe.png')
