extends layout
include includes/parameterDocMixins

block content
  header.jumbotron.subhead
    div.container
      h1 Lister
      div.page-header
        p.lead Web API'et udstiller lister over Danmarks supplerende bynavne, regioner, kommuner, sogne, retskredse, politikredse, opstillingskredse, valglandsdele, ejerlav og jordstykker.
    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list
            li(data-toggle='collapse', data-target='#supplerendebynavn').nav-header Supplerende bynavne API
            ul#supplerendebynavn.nav.nav-list
              li <a href='#supplerendebynavnsoegning'>Supplerende bynavnesøgning</a>
              li <a href='#supplerendebynavnopslag'>Supplerende bynavnopslag</a>
              li <a href='#supplerendebynavnautocomplete'>Supplerende bynavn autocomplete</a>
              li <a href='#supplerendebynavndata'>Beskrivelse af supplerendebynavnedata</a>

            li(data-toggle='collapse', data-target='#region').nav-header Region API
            ul#region.nav.nav-list
              li <a href='#regionsoegning'>Regionsøgning</a>
              li <a href='#regionopslag'>Regionopslag</a>
              li <a href='#regionerautocomplete'>Regioner autocomplete</a>
              li <a href='#regionreverse'>Region reverse geocoding</a>
              li <a href='#regiondata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#kommune').nav-header Kommune API
            ul#kommune.nav.nav-list
              li <a href='#kommunesoegning'>Kommunesøgning</a>
              li <a href='#kommuneopslag'>Kommuneopslag</a>
              li <a href='#kommuneautocomplete'>Kommune autocomplete</a>
              li <a href='#kommunereverse'>Kommune reverse geocoding</a>
              li <a href='#kommunedata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#sogn').nav-header Sogn API
            ul#sogn.nav.nav-list
              li <a href='#sognsoegning'>Sognsøgning</a>
              li <a href='#sognopslag'>Sognopslag</a>
              li <a href='#sognautocomplete'>Sogn autocomplete</a>
              li <a href='#sognreverse'>Sogn reverse geocoding</a>
              li <a href='#sogndata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#retskreds').nav-header Retskreds API
            ul#retskreds.nav.nav-list
              li <a href='#retskredssoegning'>Retskredssøgning</a>
              li <a href='#retskredsopslag'>Retskredsopslag</a>
              li <a href='#retskredsautocomplete'>Retskreds autocomplete</a>
              li <a href='#retskredsreverse'>Retskreds reverse geocoding</a>
              li <a href='#retskredsdata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#politikreds').nav-header Politikreds API
            ul#politikreds.nav.nav-list
              li <a href='#politikredssoegning'>Politikredssøgning</a>
              li <a href='#politikredsopslag'>Politikredsopslag</a>
              li <a href='#politikredsautocomplete'>Politikreds autocomplete</a>
              li <a href='#politikredsreverse'>Politikreds reverse geocoding</a>
              li <a href='#politikredsdata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#opstillingskreds').nav-header Opstillingskreds API
            ul#opstillingskreds.nav.nav-list
              li <a href='#opstillingskredssoegning'>Opstillingskredssøgning</a>
              li <a href='#opstillingskredsopslag'>Opstillingskredsopslag</a>
              li <a href='#opstillingskredsautocomplete'>Opstillingskreds autocomplete</a>
              li <a href='#opstillingskredsreverse'>Opstillingskreds reverse geocoding</a>
              li <a href='#opstillingskredsdata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#valglandsdel').nav-header Valglandsdels API
            ul#valglandsdel.nav.nav-list
              li <a href='#valglandsdelsoegning'>Valglandsdelssøgning</a>
              li <a href='#valglandsdelopslag'>Valglandsdelsopslag</a>
              li <a href='#valglandsdelautocomplete'>Valglandsdel autocomplete</a>
              li <a href='#valglandsdelreverse'>Valglandsdel reverse geocoding</a>
              li <a href='#valglandsdeldata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#storkreds').nav-header Storkreds API
            ul#storkreds.nav.nav-list
              li <a href='#storkredssoegning'>Storkredssøgning</a>
              li <a href='#storkredsopslag'>Storkredsopslag</a>
              li <a href='#storkredsautocomplete'>Storkreds autocomplete</a>
              li <a href='#storkredsreverse'>Storkreds reverse geocoding</a>
              li <a href='#storkredsdata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#ejerlav').nav-header Ejerlav API
            ul#ejerlav.nav.nav-list
              li <a href='#ejerlavsoegning'>Ejerlavssøgning</a>
              li <a href='#ejerlavopslag'>Ejerlavsopslag</a>
              li <a href='#ejerlavautocomplete'>Ejerlav autocomplete</a>
              li <a href='#ejerlavdata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#jordstykke').nav-header Jordstykke API
            ul#jordstykke.nav.nav-list
              li <a href='#jordstykkesoegning'>Jordstykkesøgning</a>
              li <a href='#jordstykkeopslag'>Jordstykkeopslag</a>
              li
              li <a href='#jordstykkereverse'>Jordstykke reverse geocoding</a>
              li <a href='#jordstykkedata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#bebyggelse').nav-header Bebyggelse API
            ul#bebyggelse.nav.nav-list
              li <a href='#bebyggelsesoegning'>Bebyggelsesøgning</a>
              li <a href='#bebyggelseopslag'>Bebyggelseopslag</a>
              li <a href='#bebyggelsedata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#stednavne').nav-header Stednavne API
            ul.nav.nav-list
              li <a href='#stednavnsoegning'>Stednavnsøgning</a>
              li <a href='#stednavnopslag'>Stednavnopslag</a>
              li <a href='#stednavnautocomplete'>Stednavn autocomplete</a>
              li <a href='#stednavndata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#stednavntyper').nav-header Stednavntyper API
            ul#stednavntyper.nav.nav-list
              li <a href='#stednavntype'>Stednavntyper</a>



        div.span9
          section
            h3.anchor-header#supplerendebynavnsoegning Supplerende bynavnesøgning
            +documentResource(parameterDoc, '/supplerendebynavne')

            div.page-header
            h3.anchor-header#supplerendebynavnopslag Supplerende bynavnopslag
            +documentResource(parameterDoc, '/supplerendebynavne/{navn}')

            div.page-header
            h3.anchor-header#supplerendebynavnautocomplete Supplerende bynavn autocomplete
            +documentResource(parameterDoc, '/supplerendebynavne/autocomplete')

            div.page-header
            h3.anchor-header#supplerendebynavndata Beskrivelse af supplerende bynavnedata
            p Ovenstående Web API udstiller supplerende bynavne. Et supplerende bynavn – typisk landsbyens navn – eller andet lokalt stednavn der er fastsat af kommunen for at præcisere adressens beliggenhed indenfor postnummeret. Indgår som en del af den officielle adressebetegnelse. Indtil 34 tegn. Eksempel: ”Sønderholm”.
            p Web API'et udstiller for hver supplerende bynavn følgende informationer:
            +documentSchema(jsonSchemas.supplerendebynavn)

          section
            h3.anchor-header#regionsoegning Regionsøgning
            +documentResource(parameterDoc, '/regioner')

            div.page-header
            h3.anchor-header#regionopslag Regionopslag
            +documentResource(parameterDoc, '/regioner/{kode}')

            div.page-header
              h3.anchor-header#regionerautocomplete Regioner autocomplete
            +documentResource(parameterDoc, '/regioner/autocomplete')

            div.page-header
              h3.anchor-header#regionreverse Region reverse geocoding
            +documentResource(parameterDoc, '/regioner/reverse')

            div.page-header
            h3.anchor-header#regiondata Beskrivelse af regionsdata
            p Web API'et udstiller for hver region følgende informationer:
            +documentSchema(jsonSchemas.region)
          section

            div.page-header
            h3.anchor-header#kommunesoegning Kommunesøgning
            +documentResource(parameterDoc, '/kommuner')

            div.page-header
            h3.anchor-header#kommuneopslag Kommuneopslag
            +documentResource(parameterDoc, '/kommuner/{kode}')

            div.page-header
              h3.anchor-header#kommuneautocomplete Kommune autocomplete
            +documentResource(parameterDoc, '/kommuner/autocomplete')

            div.page-header
              h3.anchor-header#kommunereverse Kommune reverse geocoding
            +documentResource(parameterDoc, '/kommuner/reverse')

            div.page-header
            h3.anchor-header#kommunedata Beskrivelse af kommunedata
            p Web API'et udstiller for hver kommune følgende informationer:
            +documentSchema(jsonSchemas.kommune)

          section
            div.page-header
              h3.anchor-header#sognsoegning Sognsøgning
            +documentResource(parameterDoc, '/sogne')
            div.page-header
              h3.anchor-header#sognopslag Sogneopslag
            +documentResource(parameterDoc, '/sogne/{kode}')
            div.page-header
              h3.anchor-header#sognautocomplete Sogn autocomplete
            +documentResource(parameterDoc, '/sogne/autocomplete')

            div.page-header
              h3.anchor-header#sognreverse Sogn reverse geocoding
            +documentResource(parameterDoc, '/sogne/reverse')
            div.page-header
            h3.anchor-header#sogndata Beskrivelse af sognedata
            p Web API'et udstiller for hvert sogn følgende informationer:
            +documentSchema(jsonSchemas.sogn)

          section
            div.page-header
            h3.anchor-header#retskredssoegning Retskredssøgning
              +documentResource(parameterDoc, '/retskredse')
            div.page-header
            h3.anchor-header#retskredsopslag Retskredsopslag
              +documentResource(parameterDoc, '/retskredse/{kode}')
            div.page-header
              h3.anchor-header#retskredsautocomplete Retskreds autocomplete
            +documentResource(parameterDoc, '/retskredse/autocomplete')

            div.page-header
              h3.anchor-header#retskredsreverse Retskreds reverse geocoding
            +documentResource(parameterDoc, '/retskredse/reverse')
            div.page-header
            h3.anchor-header#retskredsdata Beskrivelse af retskredsdata
            p Web API'et udstiller for hver retskreds følgende informationer:
            +documentSchema(jsonSchemas.retskreds)
          section
            div.page-header
            h3.anchor-header#politikredssoegning Politikredssøgning
            +documentResource(parameterDoc, '/politikredse')
            div.page-header
            h3.anchor-header#politikredsopslag Politikredsopslag
            +documentResource(parameterDoc, '/politikredse/{kode}')
            div.page-header
              h3.anchor-header#politikredsautocomplete Politikreds autocomplete
            +documentResource(parameterDoc, '/politikredse/autocomplete')
            div.page-header
              h3.anchor-header#politikredsreverse Politikreds reverse geocoding
            +documentResource(parameterDoc, '/politikredse/reverse')
            div.page-header
            h3.anchor-header#politikredsdata Beskrivelse af politikredsdata
            p Web API'et udstiller for hver politikreds følgende informationer:
            +documentSchema(jsonSchemas.politikreds)

          section
            h3.anchor-header#opstillingskredssoegning Opstillingskredssøgning
            +documentResource(parameterDoc, '/opstillingskredse')
            div.page-header
              h3.anchor-header#opstillingskredsopslag Opstillingskredsopslag
            +documentResource(parameterDoc, '/opstillingskredse/{kode}')
            div.page-header
              h3.anchor-header#opstillingskredsautocomplete Opstillingskreds autocomplete
            +documentResource(parameterDoc, '/opstillingskredse/autocomplete')
            div.page-header
              h3.anchor-header#opstillingskredsreverse Opstillingskreds reverse geocoding
            +documentResource(parameterDoc, '/opstillingskredse/reverse')
            div.page-header
              h3.anchor-header#opstillingskredsdata Beskrivelse af opstillingskredsdata
            p Web API'et udstiller for hver opstillingskreds følgende informationer:
            +documentSchema(jsonSchemas.opstillingskreds)

          section
            div.page-header
              h3.anchor-header#valglandsdelsoegning Valglandsdelssøgning
            +documentResource(parameterDoc, '/valglandsdele')
            div.page-header
              h3.anchor-header#valglandsdelopslag Valglandsdelsopslag
            +documentResource(parameterDoc, '/valglandsdele/{bogstav}')
            div.page-header
              h3.anchor-header#valglandsdelautocomplete Valglandsdel autocomplete
            +documentResource(parameterDoc, '/valglandsdele/autocomplete')
            div.page-header
                h3.anchor-header#valglandsdelreverse Valglandsdel reverse geocoding
            +documentResource(parameterDoc, '/valglandsdele/reverse')
            div.page-header
            h3.anchor-header#valglandsdeldata Beskrivelse af valglandsdelsdata
            p Web API'et udstiller for hver valglandsdel følgende informationer:
            +documentSchema(jsonSchemas.valglandsdel)
          section
            div.page-header
              h3.anchor-header#storkredssoegning Storkredssøgning
            +documentResource(parameterDoc, '/storkredse')
            div.page-header
              h3.anchor-header#storkredsopslag Storkredsopslag
            +documentResource(parameterDoc, '/storkredse/{nummer}')
            div.page-header
              h3.anchor-header#storkredsautocomplete Storkreds autocomplete
            +documentResource(parameterDoc, '/storkredse/autocomplete')
            div.page-header
              h3.anchor-header#storkredsreverse Storkreds reverse geocoding
            +documentResource(parameterDoc, '/storkredse/reverse')
            div.page-header
            h3.anchor-header#storkredsdata Beskrivelse af storkredsdata
            p Web API'et udstiller for hver storkreds følgende informationer:
            +documentSchema(jsonSchemas.storkreds)
          section
            div.page-header
              h3.anchor-header#ejerlavsoegning Ejerlavssøgning
            +documentResource(parameterDoc, '/ejerlav')
            div.page-header
              h3.anchor-header#ejerlavopslag Ejerlavsopslag
            +documentResource(parameterDoc, '/ejerlav/{kode}')
            div.page-header
              h3.anchor-header#ejerlavautocomplete Ejerlav autocomplete
            +documentResource(parameterDoc, '/ejerlav/autocomplete')
            div.page-header
              h3.anchor-header#ejerlavdata Beskrivelse af ejerlav
            p Web API'et udstiller for hvert ejerlav følgende informationer:
            +documentSchema(jsonSchemas.ejerlav)

          section
            h3.anchor-header#jordstykkesoegning Jordstykkesøgning
            +documentResource(parameterDoc, '/jordstykker')
            div.page-header
            h3.anchor-header#jordstykkeopslag Jordstykkeopslag
            +documentResource(parameterDoc, '/jordstykker/{ejerlavkode}/{matrikelnr}')
            div.page-header
              h3.anchor-header#jordstykkereverse Jordstykke reverse geocoding
            +documentResource(parameterDoc, '/jordstykker/reverse')
            div.page-header
            h3.anchor-header#jordstykkedata Beskrivelse af jordstykker
            p Web API'et udstiller for hvert jordstykke følgende informationer:
            +documentSchema(jsonSchemas.jordstykke)
          section
            h3.anchor-header#bebyggelsesoegning Bebyggelsesøgning
            +documentResource(parameterDoc, '/bebyggelser')
            div.page-header
            h3.anchor-header#bebyggelseopslag Bebyggelseopslag
            +documentResource(parameterDoc, '/bebyggelser/{id}')
            div.page-header
            h3.anchor-header#bebyggelsedata Beskrivelse af bebyggelser
            p Web API'et udstiller for hver bebyggelse følgende informationer:
            +documentSchema(jsonSchemas.bebyggelse)
          section
            h3.anchor-header#stednavnsoegning Stednavnsøgning
            +documentResource(parameterDoc, '/stednavne')
            div.page-header
            h3.anchor-header#stednavnopslag Stednavnopslag
            +documentResource(parameterDoc, '/stednavne/{id}')
            div.page-header
            h3.anchor-header#stednavnautocomplete Stednavn autocomplete
            +documentResource(parameterDoc, '/stednavne/autocomplete')
            div.page-header
            h3.anchor-header#stednavndata Beskrivelse af stednavne
            p Web API'et udstiller for hvert stednavn følgende informationer:
            +documentSchema(jsonSchemas.stednavn)
          section
            h3.anchor-header#stednavntype Stednavntyper
            +documentResource(parameterDoc, '/stednavntyper')
            div.page-header
            p Web API'et udstiller for hver stednavntype følgende informationer:
            +documentSchema(jsonSchemas.stednavntype)
block append scripts
  script.
    dawa.activateTab('listerdok');
