extends layout
include includes/parameterDocMixins

block content
  header.jumbotron.subhead
    div.container
      h1 Regioner, kommuner, sogne, retskredse, politikredse og opstillingskredse
      div.page-header
        p.lead Web API'et udstiller lister over Danmarks regioner, kommuner, sogne, retskredse, politikredse og opstillingskredse.
    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list
            li(data-toggle='collapse', data-target='#region').nav-header Region API
            ul#region.nav.nav-list
              li <a href='#regionsoegning'>Regionsøgning</a>
              li <a href='#regionopslag'>Regionopslag</a>
              li <a href='#regiondata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#kommune').nav-header Kommune API
            ul#kommune.nav.nav-list
              li <a href='#kommunesoegning'>Kommunesøgning</a>
              li <a href='#kommuneopslag'>Kommuneopslag</a>
              li <a href='#kommuneautocomplete'>Kommune autocomplete</a>
              li <a href='#kommunereverse'>Kommune reverse geocoding</a>
              li <a href='#kommunedata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#sogn').nav-header Sogn API
            ul#sogn.nav.nav-list
              li <a href='#sognsoegning'>Sognsøgning</a>
              li <a href='#sognopslag'>Sognopslag</a>
              li <a href='#sogndata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#retskreds').nav-header Retskreds API
            ul#retskreds.nav.nav-list
              li <a href='#retskredssoegning'>Retskredssøgning</a>
              li <a href='#retskredsopslag'>Retskredsopslag</a>
              li <a href='#retskredsdata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#politikreds').nav-header Politikreds API
            ul#politikreds.nav.nav-list
              li <a href='#politikredssoegning'>Politikredssøgning</a>
              li <a href='#politikredsopslag'>Politikredsopslag</a>
              li <a href='#politikredsdata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#opstillingskreds').nav-header Opstillingskreds API
            ul#opstillingskreds.nav.nav-list
              li <a href='#opstillingskredssoegning'>Opstillingskredssøgning</a>
              li <a href='#opstillingskredsopslag'>Opstillingskredsopslag</a>
              li <a href='#opstillingskredsdata'>Databeskrivelse</a>


        div.span9
          section
            h3.anchor-header#regionsoegning Regionsøgning
            +documentResource(parameterDoc, '/regioner')

            div.page-header
            h3.anchor-header#regionopslag Regionopslag
            +documentResource(parameterDoc, '/regioner/{kode}')

            div.page-header
            h3.anchor-header#regiondata Beskrivelse af regionsdata
            p Web API'et udstiller for hver region følgende informationer:
            +documentSchema(jsonSchemas.region)
          section

            div.page-header
            h3.anchor-header#kommunesoegning Kommunesøgning
            +documentResource(parameterDoc, '/kommuner')

            div.page-header
            h3.anchor-header#kommuneopslag Kommuneopslag
            +documentResource(parameterDoc, '/kommuner/{kode}')

            div.page-header
              h3.anchor-header#kommuneautocomplete Kommune autocomplete
            +documentResource(parameterDoc, '/kommuner/autocomplete')

            div.page-header
              h3.anchor-header#kommunereverse Kommune reverse geocoding
            +documentResource(parameterDoc, '/kommuner/reverse')

            div.page-header
            h3.anchor-header#kommunedata Beskrivelse af kommunedata
            p Web API'et udstiller for hver kommune følgende informationer:
            +documentSchema(jsonSchemas.kommune)

          section
            div.page-header
            h3.anchor-header#sognsoegning Sognsøgning
            +documentResource(parameterDoc, '/sogne')
            div.page-header
            h3.anchor-header#sognopslag Sogneopslag
            +documentResource(parameterDoc, '/sogne/{kode}')

            div.page-header
            h3.anchor-header#sogndata Beskrivelse af sognedata
            p Web API'et udstiller for hvert sogn følgende informationer:
            +documentSchema(jsonSchemas.sogn)

          section
            div.page-header
            h3.anchor-header#retskredssoegning Retskredssøgning
            +documentResource(parameterDoc, '/retskredse')
            div.page-header
            h3.anchor-header#retskredsopslag Retskredsopslag
            +documentResource(parameterDoc, '/retskredse/{kode}')

            div.page-header
            h3.anchor-header#retskredsdata Beskrivelse af retskredsdata
            p Web API'et udstiller for hver retskreds følgende informationer:
            +documentSchema(jsonSchemas.retskreds)
          section
            div.page-header
            h3.anchor-header#politikredssoegning Politikredssøgning
            +documentResource(parameterDoc, '/politikredse')
            div.page-header
            h3.anchor-header#politikredsopslag Politikredsopslag
            +documentResource(parameterDoc, '/politikredse/{kode}')
            div.page-header
            h3.anchor-header#politikredsdata Beskrivelse af politikredsdata
            p Web API'et udstiller for hver politikreds følgende informationer:
            +documentSchema(jsonSchemas.politikreds)

          section
            h3.anchor-header#opstillingskredssoegning Opstillingskredssøgning
            +documentResource(parameterDoc, '/opstillingskredse')
            div.page-header
            h3.anchor-header#opstillingskredsopslag Opstillingskredsopslag
            +documentResource(parameterDoc, '/opstillingskredse/{kode}')
            div.page-header
            h3.anchor-header#opstillingskredsdata Beskrivelse af opstillingskredsdata
            p Web API'et udstiller for hver opstillingskreds følgende informationer:
            +documentSchema(jsonSchemas.opstillingskreds)
          section

block append scripts
  script.
    $('#topbar li').removeClass('active');
    var a= $("#topbar li a[href='listerdok']")[0];
    var li= $(a).parent().addClass('active');
