extends layout
include includes/parameterDocMixins

block content
  header.jumbotron.subhead
    div.container
      h1 OIS
      div.page-header
        p.lead OIS data fra DAWA må kun anvendes internt i SDFE og kun efter aftale med AWS gruppen, awssuiten@sdfe.dk. Al anvendelse skal være i medfør af § 6, stk. 1, nr. 7, i persondataloven, hvorefter behandlingen er nødvendig for, at den dataansvarlige eller den tredjemand, til hvem oplysningerne videregives, kan forfølge en berettiget interesse og hensynet til den registrerede ikke overstiger denne interesse. Link til persondataloven: https://www.retsinformation.dk/Forms/R0710.aspx?id=828

    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list
           li(data-toggle='collapse', data-target='#ois').nav-header OIS API
            ul#ois.nav.nav-list
              each oisEntityName in docUtil.getOisEntityNames()
                li
                  a(href='#ois_' + oisEntityName) #{docUtil.getOisPlural(oisEntityName)}

        div.span9
          section
            each oisEntityName in docUtil.getOisEntityNames()
              h3.anchor-header(id='ois_' + oisEntityName) #{docUtil.uppercaseFirst(docUtil.getOisPlural(oisEntityName))} søgning
              +documentOisQueryResource(oisEntityName, 'full')
              +documentOisGetByKeyResource(oisEntityName, 'full')
block append scripts
