extends layout

block content
  header.jumbotron.subhead
    div.container
      h1 Om DAWA
      p.lead Information om Danmarks Adresse Web API - DAWA. 
    div.container
      div.row
        div.span9
          section#intro
            div.page-header
              h2 Bag DAWA
            p DAWA er udviklet af Ministeriet for By, Bolig og Landdistrikter.

            div.page-header
              h2 Support
            p Data kan returneres i følgende formater: html, json eller csv.


            div.page-header
              h2 Open source
            p DAWA er udviklet som Open Source og kan findes på https://github.com/DanmarksAdresser
            
            div.page-header
              h2 Twitter
            p Du kan holde dig opdateret om DAWA ved at følge @DAWA_Info

            div.page-header
              h2  Kontakt
            p Du kan kontakte os på følgende email adresse

            div.page-header
              h2  Brugsbetingelser

block append scripts
  script  
    $('#topbar li').removeClass('active');
    var a= $("#topbar li a[href='om']")[0];
    var li= $(a).parent().addClass('active');
    