extends layout

block content
  header.jumbotron.subhead
    div.container
      h1 Om DAWA
      div.page-header
        p.lead Danmarks Adressers Web API - DAWA. 
    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list.affix
            li(data-toggle='collapse', data-target='#om').nav-header Om DAWA
            ul#om.nav.nav-list
              li <a href='#support'>Support</a>
              li <a href='#servicemaal'>Servicemål</a>
              li <a href='#opensource'>Open source</a>
              li <a href='#vilkaar'>Vilkår for brug af DAWA</a>
              li <a href='#version'>Version</a>

        div.span9
          section#intro
            p Formålet med DAWA er at tilbyde adresseanvendere adgang til data og funktionalitet vedrørende Danmarks Autoritative Adresser, således at adresseanvendere dels fritages for selv at etablere adresseregister og -funktionalitet, dels at kvaliteten af deres anvendelse af adresser højnes. 
            p DAWA rummer data om adresser, adgangsadresser, supplerende bynavne, vejnavne, postnumre samt oversigter over kommuner, retskredse, politikredse, sogne, opstillingskredse og regioner. 
            p Adresser, adgangsadresser og vejnavne opdateres nær realtid fra <a href='http://danmarksadresser.dk/dar'>Danmarks Adresseregister, DAR</a>. Adressernes tilknytning til retskreds, politikreds, sogn, opstillingskreds og region opdateres dagligt fra <a href='http://gst.dk/emner/frie-data/hvilke-data-er-omfattet/hvilke-data-er-frie/landinddelinger/danmarks-administrative-geografiske-inddelinger-dagi/dagi-temaer/'>DAGI</a>. Postnumre stammer fra PostDanmark og opdateres, når de ændres. Jordstykker opdateres dagligt fra <a href="http://download.kortforsyningen.dk/feeds">Geodatastyrelsens matrikelkort</a>. Adressernes beliggenhed i landzone, byzone og sommerhusområde opdateres dagligt fra <a href='http://naturstyrelsen.dk/planlaegning/plansystemdk/services/wfs/'>PlansystemDK</a>.
            p DAWA er udviklet under <a href='http://www.digst.dk/Loesninger-og-infrastruktur/Grunddata'>Grunddataprogrammet</a> af <a href='http://gst.dk'>Geodatastyrelsen</a>.
            p DAWA er en del af <a href='http://aws.dk'>AWS Suiten</a> version 4.

            div.page-header
              h3.anchor-header#support Support
            p Udviklings- og driftsspørgsmål, kommentarer, ideer, ønsker, fejlmelding samt anden kommunikation foregår primært via 
              a(href='http://digitaliser.dk/group/334445') AWS gruppen på digitaliser.dk.
            p Du kan endvidere holde dig opdateret om DAWA ved at følge os på  
              a(href='https://twitter.com/AWS_Suiten') Twitter.
            p Hvis du via mail ønsker at blive informeret om kritiske ændringer af DAWA, som kan påvirke din brug af DAWA, sender du en mail til awssuiten@gst.dk med oplysning om din organisation, dit system samt kontaktoplysninger. 
            p Du kan se planlagte ændringer, akutte hændelser samt afsluttede hændelser vedrørende driften på <a href='https://docs.netic.dk/display/DRIFTSTATUS/DAWA+Driftsstatus'>driftsleverandørens statusside</a>.
            p DAWA's driftsstatus kan du finde i <a href='http://stats.pingdom.com/tdobb0hqaff9'>driftsstatusoversigten for alle AWS Suitens services</a>.

            div.page-header
              h3.anchor-header#servicemaal Servicemål
            p Oppetid 99%. 
            p DAWA overvåges 24x7. Reaktionstid for håndtering af driftsproblemer fundet ved overvågningen:            
            table.table.table-hover
              thead
                th Prioritet
                th Beskrivelse
                th Mål for påbegyndt fejlfinding
                th Mål for løsningstid
                tr
                  td Critical
                  td Servicen er ikke tilgængelig, eller funktionaliteten er reduceret i et sådan omfang, at basale funktioner ikke er tilgængelige for slutbrugerne.
                  td 1 time
                  td 2 timer
                tr
                  td Major
                  td Væsentlige funktionerer utilgængelige, eller en større gruppe af slutbrugere har ikke mulighed for at anvende servicen.
                  td 2 timer
                  td 3 timer
                tr
                  td Minor
                  td Anvendelsen af servicen er reduceret, men basale funktioner er ikke påvirket. Et begrænset antal slutbrugere oplever manglende funktionalitet
                  td 8 timer
                  td 12 timer
                tr
                  td Low
                  td Mindre fejl, mangler og uhensigtsmæssigheder, og hvor det er muligt at anvise en midlertidig løsning til at omgå problemet
                  td 24 timer
                  td 48 timer
            
            div.page-header
              h3.anchor-header#opensource Open source
            p DAWA er udviklet som Open Source, og kildekoden finder du på 
              a(href='https://github.com/DanmarksAdresser') GitHub.
            p Du kan følge udviklingsprocessen på 
              a(href='https://huboard.com/DanmarksAdresser/Dawa') vort kanban board. 

            div.page-header
              h3.anchor-header#vilkaar  Vilkår for brug af DAWA
            h4 Generel information
            p Geodatastyrelsen, herefter Myndigheden, som har de immaterielle rettigheder til Danmarks adresser udbudt gennem Danmarks Adresse Web API (herefter data), giver på nedenstående vilkår brugsret til data.
            p Vilkårene accepteres ved enhver brug af data. Vilkårene reguleres af dansk ret.

            h4 Brugsret
            p Myndigheden giver en verdensomspændende, gratis, ikke-eksklusiv, og i øvrigt ubegrænset brugsret til data, som frit bl.a. kan:
            ul
            li kopieres, distribueres og offentliggøres,
            li ændres og sammensættes med andet materiale
            li bruges kommercielt og ikke-kommercielt,

            h4 Vilkår
            p Data må ikke bruges på en måde, så det kan fremstå som om, at myndigheden godkender, støtter, anbefaler eller markedsfører brugeren, brugerens produkter eller tjenester.
            p Det skal sikres, at brug af data er i overensstemmelse med dansk ret.

            h4 Kildeangivelse
            p Ved brug af data kan følgende angives: ”Indeholder oplysninger fra Geodatastyrelsens Adresse Web Services (AWS).”

            h4 Myndighedens rettigheder og ansvar
            p Data stilles til rådighed, som de er, og myndigheden har intet ansvar for hverken indhold, oprindelse, fejl og mangler eller nogen form for skade, der måtte følge af brug af data. 
            p Myndigheden garanterer ikke den fortsatte tilrådighedsstillelse af data, og kan til enhver tid ændre brugsretten til data og vilkårene herfor. 

            div.page-header
              h3.anchor-header#version Version
            p
              | Den aktuelle version af DAWA er&nbsp;
              a(href='https://github.com/DanmarksAdresser/Dawa/releases/tag/v#{packageJson.version}') #{packageJson.version}
              | .

block append scripts
  script(type='text/javascript').
    var topbar = $('#topbar');
    topbar.find('li').removeClass('active');
    var a = topbar.find("li a[href='om']")[0];
    var li = $(a).parent().addClass('active');
    