extends layout
include includes/parameterDocMixins

block content
  header.jumbotron.subhead
    div.container
      h1 Postnumre
      div.page-header
        p.lead Web API'et udstiller Danmarks postnumre samt tilhørende funktionalitet.
    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list.affix
            li(data-toggle='collapse', data-target='#postnummer').nav-header Postnummer API
            ul#postnummer.nav.nav-list
              li <a href='#postnummersoegning'>Postnummersøgning</a>
              li <a href='#postnummeropslag'>Postnummeropslag</a>
              li <a href='#postnummerautocomplete'>Postnummer autocomplete</a>
                li <a href='#postnummerdata'>Beskrivelse af postnummerdata</a>
            li(data-toggle='collapse', data-target='#haendelser').nav-header postnummer hændelse
            ul#haendelser.nav.nav-list

        div.span9
          section
            h3.anchor-header#postnummersoegning Postnummersøgning
            p Søg efter postnumre. Returnerer de postnumre som opfylder kriteriet.
            +parameterDocQuery(apiSpec.postnummer, parameterDoc.postnummer)

            div.page-header
            h3.anchor-header#postnummeropslag Postnummeropslag
            p Modtag postnummer med id.
            +parameterDocGet(apiSpec.postnummer, parameterDoc.postnummer)

            div.page-header
              h3.anchor-header#postnummerautocomplete Postnummer autocomplete
            p Autocomplete på postnumre. Der kan anvendes de samme parametre som ved søgning, men bemærk at <em>q</em> parameteren fortolkes anderledes. Læs mere under <a href="generelt#autocomplete">autocomplete</a>.
            pre GET #{url}/postnumre/autocomplete
            p Autocomplete for postnumre returnerer følgende JSON struktur:
            +documentSchema(apiSpec.postnummer.model.autocompleteSchema)

            div.page-header
            h3.anchor-header#postnummerdata Beskrivelse af postnummerdata
            p Ovenstående Web API udstiller postnumre.
            p Web API'et udstiller for hver postnummer følgende informationer:
            +documentSchema(apiSpec.postnummer.model.schema)

block append scripts
  script(type='text/javascript').
    $('#topbar li').removeClass('active');
    var a= $("#topbar li a[href='postnummerdok']")[0];
    var li= $(a).parent().addClass('active');
