extends layout

block content
  div.container-fluid
    div.offset-sm-2.col-sm-8
      h1 Release noter
      p.lead Større ændringer til DAWA beskrives her.
      p
        span.release-version#1-15-1
          b Version 1.15.1<br>
        span.release-besk
          ul
            li Offentlig tilgængeligt API til BBR ejerskaber
            li.
              Jordstykker har fået et udvidet_esrejendomsnr, som inkluderer kommunekoden
              for den kommune som ejerskabet tilhører.