extends layout
include includes/parameterDocMixins
block content
  header.jumbotron.subhead
    div.container
      h1 Etablering af adressekopiregister
      div.page-header
        p.lead Etablering af lokal kopi af Danmarks adresser
    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list.affix
            li(data-toggle='collapse', data-target='#generelt').nav-header Replikering
            ul#generelt.nav.nav-list
              li <a href='#introduktion'>Introduktion</a>
              li <a href='#etablering'>Etablering af lokalt kopiregister</a>
              li <a href='#vedligeholdelse'>Vedligeholdelse af lokalt kopiregister</a>
              li <a href='#detaljer'>Detaljer</a>
        div.span9
          section
            div.page-header
              h3.anchor-header#introduktion Introduktion
            p DAWA udstiller adresser, adgangsadresse, vejstykker, postnumre og ejerlav i et format, som er velegnet til etablering og vedligehold af en lokal kopi af Danmarks adresser.
            p I DAWA tilknyttes alle ændringer af adresser et unikt, fortløbende <em>sekvensnummer</em>. Et sekvensnummer svarer dermed til en unik hændelse (oprettelse, ændring eller nedlæggelse) på et objekt.
            p Når et klientsystem skal vedligeholde et kopiregister anvendes sekvensnummeret til at holde styr på hvilke adresseændringer klientsystemet har udført i den lokale kopi og hvilke ændringer klientsystemet mangler at udføre.
            p API'erne til replikering udstiller <em>normaliserede</em> adresser. Hvis kopien gemmes i en SQL database vil det være hensigtsmæssigt at have én tabel til hver type.
            p Udtræk leveres i JSON eller i det kompakte CSV-format (se <a href="#{url}/generelt#dataformater">dataformater</a>). Hændelserne leveres i JSON format.
            div.page-header
              h3.anchor-header#etablering Etablering af lokalt kopiregister
            p Fremgangsmåden for etablering af lokalt kopiregister er som følgende:
              ul
                li Klienten henter det aktuelle sekvensnummer:
                  PRE GET <a href="/replikering/senestesekvensnummer">/replikering/senestesekvensnummer</a>
                li Klienten henter dataudtræk for sekvensnummeret:
                  PRE GET <a href="/replikering/postnumre?sekvensnummer=990">/replikering/postnumre?sekvensnummer=990</a>
                  PRE GET <a href="/replikering/vejstykker?sekvensnummer=990">/replikering/vejstykker?sekvensnummer=990</a>
                  PRE GET <a href="/replikering/adgangsadresser?sekvensnummer=990">/replikering/adgangsadresser?sekvensnummer=990</a>
                  PRE GET <a href="/replikering/adresser?sekvensnummer=990">/replikering/adresser?sekvensnummer=990</a>
                  PRE GET <a href="/replikering/ejerlav?sekvensnummer=990">/replikering/ejerlav?sekvensnummer=990</a>
                li Klienten indlæser data i databasen, og har nu etableret et lokalt kopiregister.
            p For efterfølgende at kunnd indlæse opdateringer skal sekvensnummeret for udtrækket også gemmes i databasen.
            div.page-header
              h3.anchor-header#vedligeholdelse Vedligeholdelse af lokalt kopiregister
            p Fremgangsmåden for vedligeholdelse af lokalt kopiregister er som følgende:
              ul
                li Klienten undersøger, om der er sket ændringer ved at <em>polle</em> seneste sekvensnummer:
                  PRE GET <a href="/replikering/senestesekvensnummer">/replikering/senestesekvensnummer</a>
                li Hvis klienten konstanterer, at der er sket adresseændringer hentes hændelserne:
                  PRE GET <a href="/replikering/postnumre/haendelser?sekvensnummerfra=990&sekvensnummertil=1000">/replikering/postnumre/haendelser?sekvensnummerfra=990&sekvensnummertil=1000</a>
                  PRE GET <a href="/replikering/vejstykker/haendelser?sekvensnummerfra=990&sekvensnummertil=1000">/replikering/vejstykker/haendelser?sekvensnummerfra=990&sekvensnummertil=1000</a>
                  PRE GET <a href="/replikering/adgangsadresser/haendelser?sekvensnummerfra=990&sekvensnummertil=1000">/replikering/adgangsadresser/haendelser?sekvensnummerfra=990&sekvensnummertil=1000</a>
                  PRE GET <a href="/replikering/adresser/haendelser?sekvensnummerfra=990&sekvensnummertil=1000">/replikering/adresser/haendelser?sekvensnummerfra=990&sekvensnummertil=1000</a>
                  PRE GET <a href="/replikering/ejerlav/haendelser?sekvensnummerfra=990&sekvensnummertil=1000">/replikering/ejerlav/haendelser?sekvensnummerfra=990&sekvensnummertil=1000</a>
                li Klienten opdaterer den lokale kopi på baggrund af hændelserne. Anvendes der en SQL-database hvor der anvendes en tabel pr. datatype vil hver hændelse resultere i ét INSERT, UPDATE eller DELETE statement.
                li Med jævne mellemrum (f.eks. dagligt eller ugentligt) bør klienten hente nye udtræk og verificere, at den lokale kopi er opdateret korrekt.
            div.page-header
              h3.anchor-header#detaljer Detaljer
            p DAWA garanterer ikke <em>referentiel integritet</em>. F.eks. er det muligt at der kan være oprettet adresser med en vejkode og kommunekode, som endnu ikke refererer til et vejstykke. Klientsystemet bør håndtere dette.
            p Hændelser udstilles i <em>nær realtid</em>. Kildesystemet der ligger til grund for hændelserne er BBR. Klientsystemer skal være opmærksom på, at adressers postnumre og supplerende bynavne p.t. kun opdateres en gang i døgnet.
            p Hvis man ønsker at vedligeholde en lokal kopi af en <em>delmængde</em> af adresserne (f.eks. en kommune) skal man være opmærksom på, at det er noget mere kompliceret at vedligeholde en lokal kopi, da det i princippet er muligt for en adresse at flytte fra en kommune til en anden. Hvis der anvendes en SQL-database kan det overvejes at replikere alle adresserne og anvende et <em>View</em>, som evt. kan være et <a href="http://en.wikipedia.org/wiki/Materialized_view">Materialized View</a>.
          section
            div.page-header
              h3.anchor-header#udtraek Udtræk
            p Udtræk leveres i JSON- eller CSV-format (se <a href="#{url}/generelt#dataformater">dataformater</a>). Feltnavne og indhold er det samme som feltnavne for hændelserne dokumenteret nedenfor.
            p En list af datakilder og beskrives af deres feltnavne, kan også findes i JSON format på <a href="#{url}/replikeringdok/schema.json">/replikeringdok/schema.json</a>.
          section
            div.page-header
              h3.anchor-header#haendelser Hændelser
            p Hændelser leveres i JSON, og et hændelsesobjekt har følgende felter:
              ul
                li operation: Har værdien 'insert', 'update' eller 'delete', alt efter om objektet er oprettet, opdateret eller slettet.
                li tidspunkt: Hvornår hændelsen blev indlæst i DAWA. Helt præcist, det tidspunkt hvor transaktionen startede.
                li sekvensnummer: Hændelsens unikke sekvensnummer. Heltal. Sekvensnumre tildeles hændelser sekventielt i den rækkefølge som hændelserne indlæses i.
                li data: Objektets attributter. Feltnavnene stemmer overens med udtræksformatet.
            section
              h4 Postnummerhændelser
              +documentResource(parameterDoc, '/replikering/postnumre/haendelser')
              h4 Hændelsesformat for postnumre
              +documentSchema(jsonSchemas.postnummer_hændelse)
            section
              h4 Vejstykkehændelser
              +documentResource(parameterDoc, '/replikering/vejstykker/haendelser')
              h4 Hændelsesformat for vejstykker
              +documentSchema(jsonSchemas.vejstykke_hændelse)
            section
              h4 Adgangsadressehændelser
              +documentResource(parameterDoc, '/replikering/adgangsadresser/haendelser')
              h4 Hændelsesformat for adgangsadresser
              +documentSchema(jsonSchemas.adgangsadresse_hændelse)
            section
              h4 Adressehændelser
              +documentResource(parameterDoc, '/replikering/adresser/haendelser')
              h4 Hændelsesformat for adresser
              +documentSchema(jsonSchemas.adresse_hændelse)
            section
              h4 Ejerlavhændelser
              +documentResource(parameterDoc, '/replikering/ejerlav/haendelser')
              h4 Hændelsesformat for ejerlav
              +documentSchema(jsonSchemas.ejerlav_hændelse)
            section
              h4 Vejstykkepostnummerrelationer
              +documentResource(parameterDoc, '/replikering/vejstykkepostnummerrelationer/haendelser')
              h4 Hændelsesformat for vejstykkepostnummerrelationer
              +documentSchema(jsonSchemas.vejstykkepostnummerrelation_hændelse)
          section
            h3 Adressetilknytninger
            p Adgangsadresser er tilknyttet administrative inddelinger, så som sogn, region, retskreds, politikreds m.v. På replikerings-API'et er disse tilknytninger ikke en del af adgangsadressen - de udstilles separat. Bemærk, at disse tilknytninger alle er beregnet ud fra adressens og den administrative inddelings <em>geografi</em>. Hvis adressens adgangspunkt eller inddelingens geografi ikke er korrekt vil det resultere i en forkert tilknytning.
            section
              h4 Regionstilknytninger
              p Her udstilles adgangsadressernes tilknyttede region. Bemærk,at tilknytningerne er beregnet ud fra adgangspunktets koordinater, der kan være manglende eller forkert. Det er derfor bedre at benytte adressens kommunekode til at finde den tilknyttede kommune, og så anvende regionskoden for kommunen.
              h5 Regionstilknytninger - udtræk
              +documentResource(parameterDoc, '/replikering/regionstilknytninger')
              h5 Regionstilknytninger - hændelser
              +documentResource(parameterDoc, '/replikering/regionstilknytninger/haendelser')
              h5 Hændelsesformat for regionstilknytninger
              +documentSchema(jsonSchemas.regionstilknytning_hændelse)
            section
              h4 Kommunetilknytninger
              p Her udstilles adgangsadressernes tilknyttede kommune, som den beregnes ud fra adgangspunktets koordinater og kommunens geografi. Advarsel: I langt de fleste tilfælde er det bedre at benytte adressens kommunekode i stedet, da denne altid er korrekt også selvom adressen har et forkert adgangspunkt.
              h5 Kommunetilknytninger - udtræk
              +documentResource(parameterDoc, '/replikering/kommunetilknytninger')
              h5 Kommunetilknytninger - hændelser
              +documentResource(parameterDoc, '/replikering/kommunetilknytninger/haendelser')
              h5 Hændelsesformat for kommunetilknytninger
              +documentSchema(jsonSchemas.kommunetilknytning_hændelse)
            section
              h4 Postnummertilknytninger
              p Her udstilles adgangsadressernes tilknyttede postnummer, som den beregnes ud fra adgangspunktet og postnummerets geografi. Advarsel: I langt de fleste tilfælde er det bedre at benytte adressens postnummer i stedet, da denne altid er korrekt også selvom adressen har et forkert adgangspunkt.
              h5 Postnummertilknytninger - udtræk
              +documentResource(parameterDoc, '/replikering/postnummertilknytninger')
              h5 Postnummertilknytninger - hændelser
              +documentResource(parameterDoc, '/replikering/postnummertilknytninger/haendelser')
              h5 Hændelsesformat for postnummertilknytninger
              +documentSchema(jsonSchemas.postnummertilknytning_hændelse)
            section
              h4 Sognetilknytninger
              p Her udstilles adgangsadressernes tilknyttede sogne, som den beregnes ud fra adgangspunktet og sognets geografi.
              h5 Sognetilknytninger - udtræk
              +documentResource(parameterDoc, '/replikering/sognetilknytninger')
              h5 Sognetilknytninger - hændelser
              +documentResource(parameterDoc, '/replikering/sognetilknytninger/haendelser')
              h5 Hændelsesformat for sognetilknytninger
              +documentSchema(jsonSchemas.sognetilknytning_hændelse)
            section
              h4 Retskredstilknytninger
              p Her udstilles adgangsadressernes tilknyttede retskredse, som den beregnes ud fra adgangspunktet og retskredsens geografi.
              h5 Retskredstilknytninger - udtræk
              +documentResource(parameterDoc, '/replikering/retskredstilknytninger')
              h5 Retskredstilknytninger - hændelser
              +documentResource(parameterDoc, '/replikering/retskredstilknytninger/haendelser')
              h5 Hændelsesformat for retskredstilknytninger
              +documentSchema(jsonSchemas.retskredstilknytning_hændelse)
            section
              h4 Politikredstilknytninger
              p Her udstilles adgangsadressernes tilknyttede politikredse, som den beregnes ud fra adgangspunktet og politikredsens geografi.
              h5 Politikredstilknytninger - udtræk
              +documentResource(parameterDoc, '/replikering/politikredstilknytninger')
              h5 Politikredstilknytninger - hændelser
              +documentResource(parameterDoc, '/replikering/politikredstilknytninger/haendelser')
              h5 Hændelsesformat for politikredstilknytninger
              +documentSchema(jsonSchemas.politikredstilknytning_hændelse)
            section
              h4 Opstillingskredstilknytninger
              p Her udstilles adgangsadressernes tilknyttede opstillingskredse, som den beregnes ud fra adgangspunktet og opstillingskredsens geografi.
              h5 Opstillingskredstilknytninger - udtræk
              +documentResource(parameterDoc, '/replikering/opstillingskredstilknytninger')
              h5 Opstillingskredstilknytninger - hændelser
              +documentResource(parameterDoc, '/replikering/opstillingskredstilknytninger/haendelser')
              h5 Hændelsesformat for opstillingskredstilknytninger
              +documentSchema(jsonSchemas.opstillingskredstilknytning_hændelse)
            section
              h4 Valglandsdelstilknytninger
              p Her udstilles adgangsadressernes tilknyttede valglandsdele, som den beregnes ud fra adgangspunktet og valglandsdelens geografi.
              h5 Valglandsdelstilknytninger - udtræk
              +documentResource(parameterDoc, '/replikering/valglandsdelstilknytninger')
              h5 Valglandsdelstilknytninger - hændelser
              +documentResource(parameterDoc, '/replikering/valglandsdelstilknytninger/haendelser')
              h5 Hændelsesformat for valglandsdelstilknytninger
              +documentSchema(jsonSchemas.valglandsdelstilknytning_hændelse)
            section
              h4 Zonetilknytninger
              p Her udstilles adgangsadressernes tilknyttede zonestatus, som den beregnes ud fra adgangspunktet og zonekortet.
              h5 Zonetilknytninger - udtræk
              +documentResource(parameterDoc, '/replikering/zonetilknytninger')
              h5 Zonetilknytninger - hændelser
              +documentResource(parameterDoc, '/replikering/zonetilknytninger/haendelser')
              h5 Hændelsesformat for zonetilknytninger
              +documentSchema(jsonSchemas.zonetilknytning_hændelse)
            section
              h4 Jordstykketilknytninger
              p Her udstilles adgangsadressernes tilknyttede jordstykke, som den beregnes ud fra adgangspunktet og jordstykkets geometri.
              h5 Jordstykketilknytninger - udtræk
              +documentResource(parameterDoc, '/replikering/jordstykketilknytninger')
              h5 Jordstykketilknytninger - hændelser
              +documentResource(parameterDoc, '/replikering/jordstykketilknytninger/haendelser')
              h5 Hændelsesformat for jordstykketilknytninger
              +documentSchema(jsonSchemas.jordstykketilknytning_hændelse)
            section
              h4 Stednavntilknytninger
              p Her udstilles adgangsadressernes tilknyttede stednavne, som den beregnes ud fra adgangspunktet og stednavnets geometri. Adgangsadresserne er altså tilknyttet de stednavne, hvor adgangsadressen ligger indenfor stednavnets geometri.

              h5 Stednavntilknytninger - udtræk
              +documentResource(parameterDoc, '/replikering/stednavntilknytninger')
              h5 Stednavntilknytninger - hændelser
              +documentResource(parameterDoc, '/replikering/stednavntilknytninger/haendelser')
              h5 Hændelsesformat for stednavntilknytninger
              +documentSchema(jsonSchemas.stednavntilknytning_hændelse)

  block append scripts
    script.
      dawa.activateTab('replikeringdok');
