extends sidebar-auto
include includes/parameterDocMixins

block main
  h1 Replikering - databeskrivelser
  p.lead
    | Databeskrivelser for alle de entiteter, som udstilles på DAWAs replikerings-API.
    | Se <a href="/dok/api/replikering">replikerings-guiden</a> for information om hvordan
    | en klient kan etablere en lokal kopi af data.

  - let sortedEntities = Object.keys(replikeringSchemas).sort();
  each section in replikeringDataSections
    h2 #{section.title}
    p !{section.lead}
    each entity in section.entities
      h3 #{entity}
      +documentSchema3(replikeringSchemas[entity])

