extends layout
include includes/parameterDocMixins
block content
  header.jumbotron.subhead
    div.container
      h1 Veje
      div.page-header
        p.lead Web API'et udstiller Danmarks vejnavne og vejstykker samt tilhørende funktionalitet.
    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list.affix
            li(data-toggle='collapse', data-target='#vejnavn').nav-header Vejnavne API
            ul#vejnavn.nav.nav-list
              li <a href='#vejnavnsoegning'>Vejnavnesøgning</a>
              li <a href='#vejnavneopslag'>Vejnavneopslag</a>
            li(data-toggle='collapse', data-target='#vejstykke').nav-header Vejstykke API
            ul#vejstykke.nav.nav-list
              li <a href='#vejstykkesoegning'>Vejstykkesøgning</a>
              li <a href='#vejstykkeopslag'>Vejstykkeopslag</a>
            li(data-toggle='collapse', data-target='#haendelser').nav-header vejnavn hændelse
            ul#haendelser.nav.nav-list
            li(data-toggle='collapse', data-target='#vejnavndatanav').nav-header vejnavndata
            ul#vejnavndatanav.nav.nav-list
              li <a href='#vejnavndata'>Beskrivelse</a>

        div.span9
          section
            h2 Vejnavne og vejstykker
            p Et vejstykke er en vej, som er afgrænset af en kommune. Et vejstykke er identificeret ved en kommunekode og en vejkode og har desuden et navn. En vej som gennemløber mere end en kommune vil bestå af flere vejstykker. Det er p.t. ikke muligt at få information om hvilke vejstykker der er en del af den samme vej. Vejstykker er udstillet under /vejstykker
            p Vejnavne er udstillet under /vejnavne. Her returneres kun unikke vejnavne.

            div.page-header
            h2 Vejnavne
            h3.anchor-header#vejnavnsoegning Vejnavnesøgning
            p Søg efter vejnavne. Returnerer de vejnavne som opfylder kriteriet.
            +parameterDocQuery(apiSpec.vejnavn, parameterDoc.vejnavn)

            div.page-header
            h3.anchor-header#vejnavneopslag Vejnavneopslag
            p Opslag på enkelt vejnavn
            +parameterDocGet(apiSpec.vejnavn, parameterDoc.vejnavn)

            div.page-header
            h2 Vejstykker
            h3.anchor-header#vejstykkesoegning Vejstykkesøgning
            p Søger efter vejstykker. Returnerer de vejstykker, som opfylder kriteriet.
            +parameterDocQuery(apiSpec.vejstykke, parameterDoc.vejstykke)

            div.page-header
            h3.anchor-header#vejstykkeopslag Vejstykkeopslag
            p Opslag på enkelt vejstykke ud fra kommunekode og vejkode.
            +parameterDocGet(apiSpec.vejstykke, parameterDoc.vejstykke)

            div.page-header
            h3.anchor-header#vejnavndata Beskrivelse af vejstykkedata
            p Ovenstående Web API udstiller vejstykker.
            p Web API'et udstiller for hver vejstykke følgende informationer:

            table.table.table-hover
              thead
                th(colspan="3") Navn
                th Beskrivelse
              tbody
                tr
                  td(colspan="3") kode
                  td Identifikation af vejstykke. Er unikt indenfor den pågældende kommune. Repræsenteret ved fire cifre. Eksempel: I Københavns kommune er ”0004” lig ”Abel Cathrines Gade”.

                tr
                  td(colspan="3") navn
                  td Vejens navn som det er fastsat og registreret af kommunen. Repræsenteret ved indtil 40 tegn. Eksempel: ”Hvidkildevej”.

                tr
                  td(colspan="3") kommune
                  td Kommunen som vejnavnet er beliggende i.

                tr
                  td
                  td(colspan="2") kode
                  td Unik identifikation af den kommune som vejnavnet ligger i. Repræsenteret ved fire cifre. Eksempel: 0101 for Københavns kommune.

                tr
                  td
                  td(colspan="2") navn
                  td Kommunens navn. Eksempel: 0101 for Københavns kommune.

                tr
                  td(colspan="3") postnummer
                  td Postnummeret som vejnavnet er beliggende i.

                tr
                  td
                  td(colspan="2") nr
                  td Unik identifikation af det postnummer som vejnavnet er beliggende i. Postnumre fastsættes af Post Danmark. Repræsenteret ved fire cifre. Eksempel: ”2400” for ”København NV”.

                tr
                  td
                  td(colspan="2") navn
                  td Det navn der er knyttet til postnummeret, typisk byens eller bydelens navn. Repræsenteret ved indtil 20 tegn. Eksempel: ”København NV”.

                tr
                  td(colspan="3") løbenr
                  td Løbenummeret på den hændelse, som sidst har forårsaget en ændring.

block append scripts

  script
    $('#topbar li').removeClass('active');
    var a= $("#topbar li a[href='vejedok']")[0];
    var li= $(a).parent().addClass('active');
    //$('#indhold li a').on('click', function() {
    //$('#indhold li').removeClass('active');
    //$(this).parent().addClass('active');
    //});
