extends layout
include includes/parameterDocMixins
block content
  header.jumbotron.subhead
    div.container
      h1 Veje
      div.page-header
        p.lead Web API'et udstiller Danmarks vejnavne og vejstykker samt tilhørende funktionalitet.
    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list.affix

            li(data-toggle='collapse', data-target='#vejnavn').nav-header Vejnavne API
            ul#vejnavn.nav.nav-list
              li <a href='#vejnavnsoegning'>Vejnavnesøgning</a>
              li <a href='#vejnavneopslag'>Vejnavneopslag</a>
              li <a href='#vejnavneautocomplete'>Vejnavne autocomplete</a>
              li <a href='#vejnavnedata'>Beskrivelse af vejnavnedata</a>

            li(data-toggle='collapse', data-target='#vejstykke').nav-header Vejstykke API
            ul#vejstykke.nav.nav-list
              li <a href='#vejstykkesoegning'>Vejstykkesøgning</a>
              li <a href='#vejstykkeopslag'>Vejstykkeopslag</a>
              li <a href='#vejstykkerautocomplete'>Vejstykker autocomplete</a>
              li <a href='#vejstykkedata'>Beskrivelse af vejstykkedata</a>

            li(data-toggle='collapse', data-target='#haendelser').nav-header vejnavn hændelse
            ul#haendelser.nav.nav-list

        div.span9
          section
            h2 Vejnavne og vejstykker
            p Et vejstykke er en vej, som er afgrænset af en kommune. Et vejstykke er identificeret ved en kommunekode og en vejkode og har desuden et navn. En vej som gennemløber mere end en kommune vil bestå af flere vejstykker. Det er p.t. ikke muligt at få information om hvilke vejstykker der er en del af den samme vej. Vejstykker er udstillet under /vejstykker
            p Vejnavne er udstillet under /vejnavne. Her returneres kun unikke vejnavne.

            div.page-header
            h2 Vejnavne
            h3.anchor-header#vejnavnsoegning Vejnavnesøgning
            +documentResource(parameterDoc.vejnavn.resources, '/vejnavne')

            div.page-header
            h3.anchor-header#vejnavneopslag Vejnavneopslag
            +documentResource(parameterDoc.vejnavn.resources, '/vejnavne/{navn}')

            div.page-header
            h3.anchor-header#vejnavneautocomplete Vejnavne autocomplete
            +documentResource(parameterDoc.vejnavn.resources, '/vejnavne/autocomplete')


            div.page-header
            h3.anchor-header#vejnavnedata Beskrivelse af vejnavnedata
            p Ovenstående Web API udstiller vejnavne.
            p Web API'et udstiller for hver vejnavn følgende informationer:
            +documentSchema(apiSpec.vejnavn.model.schema)

            div.page-header
            h2 Vejstykker
            h3.anchor-header#vejstykkesoegning Vejstykkesøgning
            +documentResource(parameterDoc.vejstykke.resources, '/vejstykker')

            div.page-header
            h3.anchor-header#vejstykkeopslag Vejstykkeopslag
            +documentResource(parameterDoc.vejstykke.resources, '/vejstykker/{kommunekode}/{kode}')

            div.page-header
            h3.anchor-header#vejstykkerautocomplete Vejstykker autocomplete
            +documentResource(parameterDoc.vejstykke.resources, '/vejstykker/autocomplete')

            div.page-header
            h3.anchor-header#vejstykkedata Beskrivelse af vejstykkedata
            p Ovenstående Web API udstiller vejstykker.
            p Web API'et udstiller for hver vejstykke følgende informationer:
            +documentSchema(apiSpec.vejstykke.model.schema)

block append scripts
  script(type='text/javascript').
    $('#topbar li').removeClass('active');
    var a= $("#topbar li a[href='vejedok']")[0];
    var li= $(a).parent().addClass('active');
