footer
{
	text-align: center;
	font-size: 0.6em;
	height: 15px;
}
#logo {
	padding: 5px;
	height: 35px;
}
#map {
	height: 240px;
}
.anchor-header {
	padding-top: 60px;
	margin-top: -60px;
}

dt {
	font-weight: normal;
}
