body {
  padding-top: 80px;  /*60px to make the container go all the way to the bottom of the topbar */
}

footer
{
	text-align: center;
	font-size: 0.6em;
	height: 15px;
}
#logo {
	padding: 5px;
}
#map {
	height: 240px; 
}
.anchor-header {
	padding-top: 80px; 
	margin-top: -80px;
}
