body {
  padding-top: 60px;  /*60px to make the container go all the way to the bottom of the topbar */
}

footer
{
	text-align: center;
	font-size: 0.6em;
	height: 15px;
}
#logo {
	padding: 5px;
	height: 35px; 
}
#map {
	height: 240px; 
}
.anchor-header {
	padding-top: 60px; 
	margin-top: -60px;
}
