extends ../sidebar-auto

block main
  h1 Guide til DAWA Autocomplete version 1
  p.bg-danger.
    DAWA Autocomplete er ikke den seneste version. Det anbefales, at anvende den seneste version,
    DAWA Autocomplete2, hvis guide du finder #[a(href='autocomplete') her].
  p.lead
    | Trin for trin guiden viser, hvordan du implementerer autocomplete indtastning af adresser
    | vha. DAWA Autocomplete i en web applikation.
  h2 Forudsætninger
  p
    | Du vil via et lille eksempel blive introduceret til, hvordan du anvender DAWA autocomplete
    | komponent i en web applikation. Du finder
    | #[a(href='https://github.com/DanmarksAdresser/autocomplete') autocomplete komponenten og dens dokumentation på GitHub].
    | Guiden forudsætter, at du har kendskab til html, JavaScript og jQuery.
  | .
  h2 Trin 1 - Start
  p Lav en folder, kaldet Guide, indeholdende følgende html-fil:
  textarea(cols=80,rows=12).
    &lt;!doctype html&gt;
    &lt;html&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;head&gt;
    &lt;title&gt;DAWA autocomplete guide&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;label for='adresse'&gt;Autocomplete af adresse:&lt;/label&gt;
    &lt;input type=&quot;text&quot; id=&quot;adresse&quot; style=&quot;width: 400px;&quot;&gt;
    &lt;p&gt;Valgt adresse: &lt;span id=&quot;adresse-choice&quot;/&gt;&lt;/p&gt;
    &lt;/body&gt;
    &lt;/html&gt;
  p Se index.html i en browser.
  h2 Trin 2 - Installer komponenten og dens afhængigheder
  p
    | Du skal nu hente autocomplete komponenten fra GitHub samt de JavaScript biblioteker,
    | som komponenten er afhængig af. Det drejer sig om jQuery og jQuery-ui. Det kan gøres manuelt, men vi foretrækker at bruge
    | #[a(href='https://bower.io/') Bower].
    | Hvis du ikke har bower, kan den hentes ved at følge denne
    | #[a(href='https://bower.io/#install-bower') vejledning].
  p
    | Autocomple komponenten og dens afhængigheder hentes ved at kalde følgende (i folderen, som du netop har oprettet):
  p
    kbd bower install dawa-autocomplete
  p
    | Det resulterer i en folder ved navn bower_components i Guide folderen, som indeholder autocomplete komponenten og dens afhængigheder..
  h2 Trin 3 - Indsæt referencer til autocomplete komponenten og dens afhængigheder
  p
    | Forudsætnungen for at vor lille web applikation kan anvende komponenten, er at html-filen
    | refererer til den og dens afhængigheder. Det gøres ved at indsættes det markerede i html-filen.
  textarea(cols=80,rows=12).
    <!doctype html>
    <html>
    <meta charset="utf-8">
    <head>
    <title>DAWA autocomplete guide</title>
    </head>
    <body>
    <label for='adresse'>Autocomplete af adresse:</label>
    <input type="text" id="adresse" style="width: 400px;">
    <p>Valgt adresse: <span id="adresse-choice"/></p>
    </body>
    </html>
  h2 Trin 4 - Forbind input-feltet med komponenten
  p.
    | Input-feltet i html-filen skal forbindes med autocomplete-komponenten for at etablere adresse
    | autocomplete funktionalitet. Det sker ved tilføje følgende JavaScript-fil ved navn script.js til Guide-folderen.
  textarea(cols=80,rows=7).
    $(function() {
      $('#adresse').dawaautocomplete({
        select: function(event, data) {
          $('#adresse-choice').text(data.tekst);
        }
      });
    });
  p
    | Det er html-filen, som skal anvende ovenstående kode til at etablere forbindelsen mellem
    | input-feltet og autocomplete komponenten, så html-filen skal referere til JavaScript-filen
    | script.js. Det sker på følgende måde:
  textarea(cols=80,rows=12).
    &lt;!doctype html&gt;
    &lt;html&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;head&gt;
    &lt;title&gt;DAWA autocomplete guide&lt;/title&gt;
    &lt;/head&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;bower_components/jquery-ui/themes/start/jquery-ui.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;bower_components/jquery-ui/themes/start/theme.css&quot;&gt;
    &lt;script src=&quot;bower_components/jquery/dist/jquery.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;bower_components/jquery-ui/jquery-ui.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;bower_components/dawa-autocomplete/dawa-autocomplete.js&quot;&gt;&lt;/script&gt;
    &lt;body&gt;        &lt;label for='adresse'&gt;Autocomplete af adresse:&lt;/label&gt;
    &lt;input type=&quot;text&quot; id=&quot;adresse&quot; style=&quot;width: 400px;&quot;&gt;
    &lt;p&gt;Valgt adresse: &lt;span id=&quot;adresse-choice&quot;/&gt;&lt;/p&gt;
    &lt;/body&gt;
    &lt;/html&gt;
  h2 Trin 5 - Prøv
  p
    | Åbn html-filen i en browser. Begynd med at indtaste en adresse i input-feltet, og du vil blive
    | præsenteret for forslag, som du kan autocomplete.
