extends ../sidebar-auto

block main
  h1 Guide til DAWA Autocomplete2
  p.lead
    | Trin for trin guiden viser, hvordan du implementerer autocomplete indtastning af
    | adresser vha. DAWA Autocomplete2 i en web applikation.
  h2 Guiden
  p.
    Guiden viser dig via et eksempel, hvordan du trin for trin etablerer adresseindtastning med
    autocomplete i din web applikation. Guiden er rettet mod DAWA Autocomplete2 komponenten. En
    guide til den tidligere version, DAWA Autocomplete, finder du #[a(href='autocomplete-old') her].