extends ../layout

block content
  div.container-fluid
    div.row.front
      div.col.main-left.guides
        section#intro
          h1 Danmarks Adressers Web API
          p.
            Danmarks Adressers Web API (DAWA) udstiller data og funktionalitet vedrørende Danmarks
            adresser.
            DAWA kan anvendes til at etablere adressedata og -funktionalitet i it-systemer.
            Målgruppen for nærværende website er udviklere, som ønsker at indbygge adressedata og -funktionalitet
            i deres it-systemer. 
          p.
            Udover adresseområdet rummer DAWA også data og funktionalitet vedrørende områder, som er tæt relateret til adressen. Det drejer sig om Danmarks Administrative Geografiske Inddeling (DAGI), Matrikelkortet, Bygnings- og Boligregisteret samt Danske Stednavne.
          img(src='/img/logo_sdfe.png')
      div.col.main-right.guides
        div.row
          h1 Guides
          div.card
            h4.card-header Introduktion
            div.card-body
              p.
                Basal introduktion til DAWA
              a.btn.btn-primary(href="/dok/guide/introduktion")  
          div.card
            h4.card-header Autocomplete
            div.card-body
              p.
                Anvend DAWAs autocomplete-komponent på en webside.
              a.btn.btn-primary(href="/dok/guide/autocomplete")  
          div.card
            h4.card-header Replikering
            div.card-body
              p.
                Etabler en lokal, opdateret kopi af adressedata.
              a.btn.btn-primary(href="/dok/guide/replikering")  
          div.card
            h4.card-header Datavask
            div.card-body
              p.
                Valider adresser og korriger mindre fejl.
              a.btn.btn-primary(href="/dok/guide/datavask")  
          div.card
            h4.card-header Reverse geocoding
            div.card-body
              p.
                Find adresse eller andre objekter nær et punkt.
              a.btn.btn-primary(href="/dok/guide/reverse")  
          div.card
            h4.card-header Autocomplete - egen implementation
            div.card-body
              p.
                Implementer din egen autocomplete-component baseret
                på DAWAs autocomplete-API.
              a.btn.btn-primary(href="/dok/guide/reverse")




