extends ../sidebar-auto

block main
  h1 BBR
  p.lead Udvalgte data om boliger fra BBR-registeret.
  h2 Baggrund
  p.
    Siden lanceringen af DAWA har der været en stor efterspørgsel efter at knytte DAWA’s adresser
    til BBR’s enheder, bygninger og tekniske anlæg samt deres ejerskab. Vi har i dette release
    forsøgt at imødekomme dette ønske. BBR domænet har tilknytning til adressedomænet, men ligger
    uden for det, så vores viden om området er begrænset. Det har resulteret i, at den
    domænespecifike dokumentation af DAWA’s BBR Light API henviser til OIS og BBR dokumentation.
    Dokumentationen af de mere API tekniske emner i det nye BBR Light API finder du selvfølgelig
    som vanlig i DAWA dokumentationen.
  p.
    Det har ikke været muligt at udstille alle data fra BBR, da en del af disse er underlagt
    § 6, stk. 1, nr. 7, i persondataloven. Hver ressource indeholder hovedsagligt kun ressourcens
    id, samt identer til relaterede ressourcer, hvilket er tilstrækkeligt til at danne relationer
    mellem adresser og BBR ressourcerne.
  p DAWA udstiller følgende BBR/OIS ressourcer:
    ul
     li Enheder
     li Bygninger
     li Tekniske anlæg (tekniskeanlaeg)
     li Ejerskaber
     li Grunde
     li Matrikelreferencer
     li Etager
     li Opgange
     li Kommuner
     li Bygningspunkter

  h2 Brugsscenarier
  p Nedenfor gennemgås typiske brugsscenarier af DAWA’s BBR Light API.
  h3 Find en enhed ud fra dens adresse
  p Først fremskaffes adressens id:
    pre
      a(href='https://dawa.aws.dk/adresser?q=Grønjordskollegiet 2, 4. 2519, 2300 København S').
        https://dawa.aws.dk/adresser?q=Grønjordskollegiet 2, 4. 2519, 2300 København S

  p Enheden hentes vha. adressens id:
    pre
      a(href='https://dawa.aws.dk/bbrlight/enheder?adresseid=0a3f509e-6716-32b8-e044-0003ba298018').
        https://dawa.aws.dk/bbrlight/enheder?adresseid=0a3f509e-6716-32b8-e044-0003ba298018

  h3 Find en bygning ud fra dens adgangsadresse
  p Først findes adgangsadressens id. Det kan f.eks. gøres med følgende request:
    pre
      a(href='https://dawa.aws.dk/adgangsadresser?q=Rentemestervej 8, 2400').
        https://dawa.aws.dk/adgangsadresser?q=Rentemestervej 8, 2400
  p BBR bygningens id findes via opgangen vha. adgangsadressens id:
    pre
      a(href='https://dawa.aws.dk/bbrlight/opgange?adgangsadresseid=0a3f507a-e179-32b8-e044-0003ba298018').
        https://dawa.aws.dk/bbrlight/opgange?adgangsadresseid=0a3f507a-e179-32b8-e044-0003ba298018
  p Herefter findes BBR bygningen ud fra opgangens bygnings id på følgende måde:
    pre
      a(href='https://dawa.aws.dk/bbrlight/bygninger?id=9a837c75-a4d4-4a0a-8379-0b76ab654265').
        https://dawa.aws.dk/bbrlight/bygninger?id=9a837c75-a4d4-4a0a-8379-0b76ab654265

  h3 Find en ejerlejligheds ESR ejendomsnummer ud fra dens adresse
  p Først findes adressens id. Det kan f.eks. ske med følgende request:
    pre
      a(href='https://dawa.aws.dk/adresser?q=lilledal%2023,%201.%20tv,%203450').
        https://dawa.aws.dk/adresser?q=lilledal%2023,%201.%20tv,%203450
  p Herefter findes BBR enheden ud fra adressens id:
    pre
      a(href='https://dawa.aws.dk/bbrlight/enheder?adresseid=3cb0a0c6-2cfe-0e4a-e044-0003ba298018').
        https://dawa.aws.dk/bbrlight/enheder?adresseid=3cb0a0c6-2cfe-0e4a-e044-0003ba298018
  p.
    Hvis BBR enheden er en ejerlejlighed rummer resultatet ejerskabsoplysninger.
    I dette tilfælde er ESR ejendomsnummeret: 094995.

  h3 Find ESR ejendomsnummer for bygning på lejet/fremmed grund ud fra dens adgangsadresse
  p Først findes adgangsadressens id. Det kan f.eks. gøres med følgende request:
    pre
      a(href='https://dawa.aws.dk/adgangsadresser?q=Hjaltesvej 5A, 7800 Skive').
        https://dawa.aws.dk/adgangsadresser?q=Hjaltesvej 5A, 7800 Skive
  p BBR bygningens id findes via opgangen ud fra adgangsadressens id:
    pre
      a(href='https://dawa.aws.dk/bbrlight/opgange?adgangsadresseid=0a3f5098-08a1-32b8-e044-0003ba298018').
        https://dawa.aws.dk/bbrlight/opgange?adgangsadresseid=0a3f5098-08a1-32b8-e044-0003ba298018
  p Herefter findes BBR bygningen på følgende måde:
    pre
      a(href='https://dawa.aws.dk/bbrlight/bygninger?id=0da265e5-8c13-4356-a395-627eb020e38b').
        https://dawa.aws.dk/bbrlight/bygninger?id=0da265e5-8c13-4356-a395-627eb020e38b
  p.
    Hvis BBR bygningen er en bygning på lejet grund rummer resultatet ejerskabsoplysninger.
    I dette tilfælde er ESR ejendomsnummeret: 100884

  h3 Find en adresse ud fra et ESR ejendomsnummer
  p Find ejerskabet ud fra ESR ejendomsnummeret og kommunekoden. ESR ejendomsnummeret er kun unikt indenfor en kommune:
    pre
      a(href='https://dawa.aws.dk/bbrlight/ejerskaber?kommunekode=0201&esrejendomsnr=094995').
        https://dawa.aws.dk/bbrlight/ejerskaber?kommunekode=0201&esrejendomsnr=094995
  p.
    Hvis det drejer sig om ejerskab til grund, bygning eller teknisk anlæg anvendes adgangsadresse
    id til at finde adgangsadresse. Hvis ejerskabet drejer sig om enhed/ejerlejlighed anvendes
    adresse id til at finde adressen.

  p I dette tilfælde udpeger ejerskabet en enhed, hvor EnhAdr_id anvendes til at udpege adressen:
    pre
      a(href='https://dawa.aws.dk/adresser?id=3cb0a0c6-2cfe-0e4a-e044-0003ba298018').
        https://dawa.aws.dk/adresser?id=3cb0a0c6-2cfe-0e4a-e044-0003ba298018








