extends ../sidebar-auto

block main
  h1 Stednavne
  p.
    Stednavne har samme sproglige funktion som adresser. De udpeger begge steder.
    Stednavne er ikke entydige som adresser. Ét stednavn kan udpege mange forskellige steder.
    Stednavnet Østergård udpeger f.eks.  722 steder - typisk gårde. En anden forskel er at
    stednavnes geometri kan være punkter, linjer eller polygoner. Adresser repræsenteres
    kun af punkter.

  h2 Stednavntyper
  p
    .
      Stednavne er opdelt i hovedtyper, som f.eks. bebyggelser, bygning og farvand. Hver hovedtype
      er inddelt i undertyper, som f.eks. by, akvarium og bugt. Du kan anvende stednavne API’et til
      at få en oversigt over hovedtyper og deres undertyper:
    pre
      a(href='https://dawa.aws.dk/stednavntyper').
        https://dawa.aws.dk/stednavntyper

  h2 Stednavnsøgning
  p
    .
      Stednavnetyperne kan anvendes til at finde de stednavne, du er interesseret i.
      Det kan f.eks. være alle danske byer:
    pre
      a(href='https://dawa.aws.dk/stednavne?hovedtype=Bebyggelse&undertype=by').
        https://dawa.aws.dk/stednavne?hovedtype=Bebyggelse&undertype=by

  p Hvis det er en bestemt by du søger, kan du angive navnet:
    a(href='https://dawa.aws.dk/stednavne?hovedtype=Bebyggelse&undertype=by&navn=Blovstrød').
      https://dawa.aws.dk/stednavne?hovedtype=Bebyggelse&undertype=by&navn=Blovstrød
  p Geometrien får du ved at sætte <code>format</code> parameteren til <code>geojson</code>:
    pre
      a(href='https://dawa.aws.dk/stednavne?hovedtype=Bebyggelse&undertype=by&navn=Blovstrød&format=geojson').
        https://dawa.aws.dk/stednavne?hovedtype=Bebyggelse&undertype=by&navn=Blovstrød&format=geojson
  p
    .
      Stednavnedata er også forsynet med et visuelt center, som kan anvendes til at placere navnet
      på et passende centralt sted på stednavnets geometri. Du kan se Blovstrøds polygon og
      dens visuelle center nedenfor.
    img(src='/img/stednavne-visuelt-center.jpg')

  h2 Adresser indenfor stednavn
  p
    .
      Du kan også finde de adresser, som er placeret i et stednavn. Hvis du f.eks. ønsker de adresser
      der ligger i Blovstrød, kan du anvende stednavnets id på følgende måde:
     pre
      a(href='http://dawa.aws.dk/adresser?stednavnid=12337669-dd6b-6b98-e053-d480220a5a3f').
        http://dawa.aws.dk/adresser?stednavnid=12337669-dd6b-6b98-e053-d480220a5a3f
  p Nedenfor ser du adresserne i Blovstrød.
    img(src='/img/stednavne-blovstrød-adresser.jpg')






